{% extends "templates/layout.jinja2" %}
{% block head %}
<style>
table#tblTodayOrders tbody tr{
	cursor:pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
}
table#tblTodayOrders tbody tr td{
	-moz-user-select: none;
	-webkit-user-select: none;
}
table#tblTodayOrders tbody tr.active td{
	background-color:lightyellow !important;
}
.vsplitbar {
	width: 5px;
	background: #aaa;
	height:100%;
}
.content th, .content td {
    padding: 0.2em;
}
#tblOrderLineItems.listing tbody {
	
}
</style>
{% endblock %}
{% block content %}
<div id="invoice-container" class="content" style="position:relative">
   	<div id="orderListDiv" style="float:left;width:20%;position:relative">
		<h2 style="margin-bottom:0px">Recent Invoices</h2>
		<div style="position:absolute;top:15px;right:0px;">
			<button id="refresh-orders" class="btn">
				 <span><span>Refresh</span></span>
			</button>
		</div>
		<div style="min-height:600px;overflow:auto;margin-top:0px">
			<table class="listing noedit" id="tblTodayOrders">
				<thead>
					<tr>
						<th>No#</th>
						<th>Time</th>
						<th class="right">Amt</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div id="rightPane" style="float:left;width:75%;border-left:1px solid #ccc;padding-left:10px;margin-left: 10px;">
		<div id="customer-data" class="global-data block" id="orderDetailsDiv">
			<h2 style="position: relative;">
				Invoice Details
				<span id="paymentType" style="position: absolute; top: 0px; left: 140px;"></span>
			</h2>
			<div style="position: absolute;right: 38px;top: 15px;"> 
		   		<button id="new-order" title="New Invoice" class="btn action primary create"><span><span>New (F3)</span></span></button>
		   		<button id="cancel-order" title="Cancel this Invoice" class="btn action cancel"><span><span>Cancel (F4)</span></span></button>
		   		<button id="checkout-order" title="Pay Invoice" class="btn action save"><span><span>Checkout (F5)</span></span></button>
		   		<button id="print-order" title="Print Invoice" class="btn action print"><span><span>Print (F11)</span></span></button>
		   		<button id="preview-order" title="Preview Invoice" class="btn action pdf"><span><span>Preview (F12)</span></span></button>
		    </div> 
		    <table class="noborder" style="float:left;margin-bottom:0em;margin-right:2em;">
				<tbody>
					<tr class="strong">
						<td class="noborder" style="width:120px;">Invoice No#</td>
						<td class="noborder" style="width:140px;"><span id="orderNumber">0000</span></td>
					</tr>
					<tr>
						<td class="noborder">Date</td>
						<td class="noborder"><span id="orderDate"></span></td>
					</tr>
					<tr>
						<td class="noborder">Duedate</td>
						<td class="noborder"><input title="Enter due amount!" type="text" class="datetime" name="dueDate" id="dueDate"/></td>
					</tr>
				</tbody>
			</table>
			<table class="noborder" style="float:left;margin-bottom:0em;margin-right:2em;">
				<tbody>
					<tr>
						<td class="noborder" style="width:110px;">Search</td>
						<td class="noborder" style="width:330px;">
							<input type="text" class="typeahead" data-provide="typeahead" 
									name="customerName" id="customerName"
									placeholder="Enter customer name or mobile number..."  
									value="" required></input>
							<input type="hidden" id="customerid" name="customerid" value=""></input>
					</tr>
					<tr>
						<td class="noborder"></td>
						<td class="noborder">
							<label class="radio inline">
								<input type="radio" name="searchfield" value="name"></input> Name
							</label>
							<label class="radio inline">
								<input type="radio" name="searchfield" value="mobile" checked="checked"></input> Mobile
							</label>
							<label class="radio inline">
								<input type="radio" name="searchfield" value="customerno"></input> Customer No
							</label>
						</td>
					</tr>
					<tr class="strong">
						<td class="noborder">Customer</td>
						<td class="noborder">
							<span id="invoiceCustomerName"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="clear"></div>
			<h2>Line Items</h2>
			<ul style="width:90%;position:relative;">
				<li>
					<span class="_50"><input type="text" title="Barcode" placeholder="Enter barcode" id="barcode" name="barcode"/></span>
					<span class="_50"><input type="text" title="Item Name" placeholder="Enter item name" id="itemName" name="itemName"/></span>
					<span style="position:absolute;right:-75px;top:-5px">
						<input type="hidden" name="quantity" value="1"/>
						<button id="add-item" class="btn action primary create"><span><span>Add</span></span></button>
					</span>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		<table class="listing noedit" id="tblOrderLineItems">
				<thead>
					<tr>
						<th style="width:32px" class="noborder"></th>
						<th style="width:130px;">Barcode</th>
						<th>Item Name</th>
						<th class="right" style="width:90px;">MRP</th>
						<th class="right" style="width:90px;">Price</th>
						<!--<th class="right" style="width:60px;">Discount</th>-->
						<th class="right" style="width:60px;">Quantity</th>
						<th class="right" style="width:90px;">Gross</th>
					</tr>
				</thead>
				<tbody style="max-height: 300px;overflow-y: auto;">
					<tr><td class="noborder" style="padding:0em;display: none;" colspan="7"></td></tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" class="noborder top"></td>
						<td colspan="2"><span>Total Items/Quantity: <span id="totalItemsQuantity">0/0</span></span></td>
						<td class="right strong big"><span>Total: </span></td>
						<td colspan="2" class="right strong big green"><span id="totalAmount">{{ 0 | currency }}</span></td>
					</tr>
					<tr>
						<td colspan="2" class="noborder top"></td>
						<td colspan="2" class="strong"><span>Savings: <span id="savingsAmount">{{ 0 | currency }}</span></span></td>
						<td class="right strong big"><span>Paid: </span></td>
						<td colspan="2" class="right strong big"><span id="paidAmount">0.0</span></td>
					</tr>
					<tr>
						<td class="noborder top" colspan="4"></td>
						<td class="right strong big"><span id="lblBalanceAmount">Balance: </span></td>
						<td colspan="2" class="right strong big dueamount"><span id="balanceAmount">{{ 0 | currency }}</span></td>
					</tr>
				</tfoot>
			</table>
	</div>
</div> 
<div style="display:block;" id="product-container">
	<div class="content modal fade" id="selectItemModal">
	  <div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Multiple Items found</h3>
	  </div>
	  <div class="modal-body global-data">
		<table class="listing noedit" id="tblSelectItem">
			<thead>
				<th>Barcode</th>
				<th>Item Name</th>
				<th class="tright">MRP</th>
				<th class="tright">Price</th>
				<th>Created Date</th>
				<th class="noborder"></th>
			</thead>
			<tbody>
			</tbody>
		</table>
	  </div>
	  <div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn action cancel"><span><span>Close</span></span></a>
	  </div>
	</div>
	<div class="content modal fade" id="checkoutOrderModel">
	  <div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Checkout</h3>
	  </div>
	  <div class="modal-body global-data">
		
	  </div>
	  <div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn action cancel"><span><span>Close</span></span></a>
		<a href="#" class="btn primary action save" id="btnPayOrder"><span><span>Pay</span></span></a>		
	  </div>
	</div>
</div>
<div id="templates" style="display:none">
	<script type="text/template" id="tpl-chkoutorder">
	<ul style="width:90%;margin-bottom:10px;">
		<li>
			<span class="_50">Invoice No#</span>
			<span class="_50 strong">
				<strong><%= item.get('orderno')%></strong>
			</span>
		</li>
		<li>
			<span class="_50">Total Amount: </span>
			<span class="_50 strong big green">
				{{ '' | currency(true,false) }} <%= Math.round(item.get('orderamount')).toFixed(2)%>
			</span>
		</li>
		<li class="strong">
			<span class="_50">Customer:</span>
			<span class="_50"><%=item.get('customername')%></span>
		</li>
		<li>
			<span class="_50">Payment Type: </span>
			<span class="_50">
				<select class="dropdown" name="paymenttype" style="width: 99%;">
					<option>Cash</option>
					<option>Credit</option>
					<option>Card</option>
					<option>Cheque</option>
				</select>
			</span>
		</li>
		<li>
			<span class="_50">Paid Amount: <span class="add-on">Rs.</span></span>
			<span class="_50 strong big red">
				<span style="float: left; line-height: 20px;">{{ '' | currency(true,false) }}</span> <input style="width:95%" type="number" name="paidamount" placeholder="<%=Math.round(item.get('orderamount'))%>" value="<%=Math.round(item.get('orderamount'))%>" required autofocus="autofocus"></input>
			</span>
		</li>
		<li>
			<span class="_50">Print Ticket:</span> 
			<span class="_50">
				<input type="checkbox" name="printTicket" checked="checked"></input>
			</span>
		</li>
	</ul>
	</script>
	<script type="text/template" id="tpl-selectitem">
		<% 	var cnt=0;
			_.each(items, function(item) { %>
		<tr>
			<td><%= item.Barcode %></td>
			<td><%= item.Name %></td>
			<td class="tright"><%= item.MRP.toFixed(2) %></td>
			<td class="tright"><%= item.SellPrice.toFixed(2) %></td>
			<td><%= $.format.date(ToLocalDate(item.CreatedOn),'dd-MM-yyyy h:mm a') %></td>
			<td class="tcenter"><button class="btn btn-mini btn-info" data-id="<%= cnt++ %>"><span><span>Select</span></span></button></td>
		</tr>
		<% }); %>
	</script>
	<script type="text/template" id="tpl-lineitem">
		<tr data-id="<%= item.get('id') %>">
			<td class="del"><a data-slno="<%= item.get('slno') %>" href="#" class="del-lineitem remove-item xit">Del</a></td>
			<!--<td class="sl"><%= item.get('slno') %></td>-->
			<td class="b"><%= item.get('barcode') %></td>
			<td data-col="name" class="n edit"><%= item.get('name') %></td>
			<td data-col="mrp" class="m edit tright"><%= item.get('mrp') %></td>
			<td data-col="price" class="p edit tright"><%= item.get('price') %></td>
			<!--<td data-col="discount" class="d edit tright"><%= item.get('discount') %></td>-->
			<td data-col="quantity" class="q edit tright"><%= item.get('quantity') %></td>
			<td class="st tright tbold"><%= item.get('subtotal').toFixed(2) %></td>
		</tr>
	</script>
	<script type="text/template" id="tpl-todayorderitem">
		<tr data-orderid="<%= item.get('orderid') %>" title="Click to edit!">
			<td class="o tbold"><%= item.get('orderno') %></td>
			<td class="c"><%= $.format.date(ToLocalDate(item.get('orderdate')),'h:mm a') %></td>
			<td class="a tright tbold"><%= Math.round(item.get('orderamount')) %></td>
		</tr>
	</script>	
</div>
{% endblock content %}
{% block footerscript %}
<script src="{{request.static_url('viper:static/js/swizapp/salesapp.js')}}"></script>
<script>
	$(function(){
		$('input.datetime').datepicker({dateFormat:'dd-mm-yy'})
		$('#customer-data input[type=text], #customer-data textarea').SwizappFormTips()
	
		$('.inline-form input, #barcode, #itemName').live('focus',function(){
			$(this).select()
		}).live('blur',function(){
			$(this).val($(this).val())
		})	
		$('#barcode').focus()
	});
</script>
<style>
	
</style>	 
{% endblock %}


