{% extends "templates/layout.jinja2" %}
{% block content %}
<section id="home-page">
	 <div class="page-header">
      <h1>Welcome {{ user.UserName}},</h1>
     </div> 
	<div class="row-fluid">
		<div class="span6">
	    	<h3>Return Products
	    	<span class="pull-right" style="margin-right:20px;font-size:14px;">Total: <span id="totalReturns">0</span></span>
	    	</h3>
	    	<div style="max-height:280px;overflow-y:auto;">
				<table class="table table-bordered table-striped table-condensed" id="tblReturns">
					<thead>
						<th>Supplier</th>
						<th>Barcode</th>
						<th>Name</th>
						<th class="tright">MRP</th>
						<th class="tright">Stock</th>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
	    </div>
		<div class="span6">
			<h3>Credit Purchases
	    	<span class="pull-right" style="margin-right:20px;font-size:14px;">Total: <span id="totalCreditPurchases">0</span></span>
	    	</h3>
	    	<div style="max-height:280px;overflow-y:auto;">
				<table class="table table-bordered table-striped table-condensed" id="tblCreditPurchases">
					<thead>
						<th>No</th>
						<th>Supplier</th>
						<th>Date</th>
						<th class="tright">Total</th>
						<th class="tright">Paid</th>
					</thead>
					<tbody>
					</tbody>
				</table>
	    	</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="row-fluid">
	    <div class="span6">
	    	<h3>Low Stock Products
	    	<span class="pull-right" style="margin-right:20px;font-size:14px;">Total: <span id="totalLowStock">0</span></span>
	    	</h3>
	    	<div style="max-height:280px;overflow-y:auto;">
				<table class="table table-bordered table-striped table-condensed" id="tblLowStock">
					<thead>
						<th>Supplier</th>
						<th>Barcode</th>
						<th>Name</th>
						<th class="tright">MRP</th>
						<th class="tright">Stock</th>
					</thead>
					<tbody>
					</tbody>
				</table>
	    	</div>
	    </div>
	    <div class="span6">
	    	<h3>Credit Orders
	    	<span class="pull-right" style="margin-right:20px;font-size:14px;">Total: <span id="totalCreditOrders">0</span></span>
	    	</h3>
	    	<div style="max-height:280px;overflow-y:auto;">
				<table class="table table-bordered table-striped table-condensed" id="tblCreditOrders">
					<thead>
						<th>No</th>
						<th>Customer</th>
						<th>Date</th>
						<th class="tright">Total</th>
						<th class="tright">Paid</th>
					</thead>
					<tbody>
					</tbody>
				</table>
	    	</div>
	    </div>
	</div>
</section>
<section style="display:none;" id="templates">
	<script type="text/template"  id="tdReturnProduct">
		<% _.each(items,function(item) { %>
		<tr>
			<td><%= item.SupplierName%></td>
			<td><%= item.Barcode%></td>
			<td><%= item.Name%></td>
			<td class="tright"><%= item.MRP%></td>
			<td class="tright"><%= item.Stock%></td>
		</tr>
		<% }); %>
	</script>
	<script type="text/template"  id="tdPurchase">
		<% _.each(items,function(item) { %>
		<tr>
			<td><%= item.PurchaseNo%></td>
			<td><%= item.SupplierName || '---'%></td>
			<td><%= $.format.date(ToLocalDate(item.PurchaseDate),'dd-MM-yyyy  h:mm a') %></td>
			<td class="tright"><%= item.PurchaseAmount.toFixed(2)%></td>
			<td class="tright"><%= item.PaidAmount.toFixed(2)%></td>
		</tr>
		<% }); %>
	</script>
	<script type="text/template"  id="tdOrder">
		<% _.each(items,function(item) { %>
		<tr>
			<td><%= item.OrderNo%></td>
			<td><%= item.CustomerName || '---'%></td>
			<td><%= $.format.date(ToLocalDate(item.OrderDate),'dd-MM-yyyy  h:mm a') %></td>
			<td class="tright"><%= item.OrderAmount.toFixed(2)%></td>
			<td class="tright"><%= item.PaidAmount.toFixed(2)%></td>
		</tr>
		<% }); %>
	</script>
</section>
{% endblock content %}
{% block footerscript %}
<script>
	$(function() {
		$.post('reports/getreturnproducts',null,function(data){
			if(data && data.status == true) {
				var compiled = _.template($('#tdReturnProduct').html())
				var rows = compiled({
					'items': data.items
				})
				$('#totalReturns').text(data.total || data.items.length)
				$('table#tblReturns tbody').fadeOut().append(rows).slideDown('slow')
			} else {
				var msg = '<tr><td colspan="5" class="alert alert-info"><div><strong>Hooray!</strong> No Items are returnable!</div></td></tr>'
				$('table#tblReturns tbody').fadeOut().append(msg).slideDown()
			}
		})
		
		$.post('reports/lowstocks',{minStock:1000},function(data){
			if(data && data.status == true) {
				var compiled = _.template($('#tdReturnProduct').html())
				var rows = compiled({
					'items': data.items
				})
				$('#totalLowStock').text(data.total || data.items.length)
				$('table#tblLowStock tbody').fadeOut().append(rows).slideDown('slow')
			} else {
				var msg = '<tr><td colspan="5" class="alert alert-info"><div><strong>Hooray!</strong> No Low Stock Items!</div></td></tr>'
				$('table#tblLowStock tbody').fadeOut().append(msg).slideDown()
			}
		})
		
		$.post('reports/creditpurchases',{pageNo:0,pageSize:10},function(data){
			if(data && data.status == true) {
				var compiled = _.template($('#tdPurchase').html())
				var rows = compiled({
					'items': data.items
				})
				$('#totalCreditPurchases').text(data.total || data.items.length)
				$('table#tblCreditPurchases tbody').fadeOut().append(rows).slideDown('slow')
			} else {
				var msg = '<tr><td colspan="5" class="alert alert-info"><div><strong>Hooray!</strong> No Credit Purchases so far!</div></td></tr>'
				$('table#tblCreditPurchases tbody').fadeOut().append(msg).slideDown()
			}
		})
		
		$.post('reports/creditorders',{pageNo:0,pageSize:10},function(data){
			if(data && data.status == true) {
				var compiled = _.template($('#tdOrder').html())
				var rows = compiled({
					'items': data.items
				})
				$('#totalCreditOrders').text(data.total || data.items.length)
				$('table#tblCreditOrders tbody').fadeOut().append(rows).slideDown('slow')
			} else {
				var msg = '<tr><td colspan="5" class="alert alert-info"><div><strong>Hooray!</strong> No Credit Orders so far!</div></td></tr>'
				$('table#tblCreditOrders tbody').fadeOut().append(msg).slideDown()
			}
		})
	})
</script>
{% endblock footerscript %}
