{% extends "templates/layout.jinja2" %}
{% block content %}
<section id="home-page">
	 <div class="page-header">
      <h1>Welcome {{ user.UserName}},</h1>
     </div> 
      <div class="row-fluid">
        
      </div>
</section>      
{% endblock content %}
