<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>The Swizapp - The perfect invoice system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Versatile Point of Sales System Software. Delivering simplicity, trust, relaiablity...">
    <meta name="author" content="cackharot@gmail.com">
    <link rel="shortcut icon" href="{{request.static_url('viper:static/favicon.ico')}}" />

	<link href="{{request.static_url('viper:static/css/tripoli/tripoli.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/buttons.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/layout.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/controls.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/typography.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/theme.css')}}" media="screen" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/print.css')}}" media="print" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/jquery-ui.css')}}" rel="stylesheet"/>
    <link href="{{request.static_url('viper:static/css/jquery.dataTables.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/style.css')}}" rel="stylesheet"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!--[if lte IE 6]>
  <link rel="stylesheet" href="${request.static_url('viper:static/ie6.css')}" type="text/css" media="screen" charset="utf-8" />
  <![endif]-->
  <script>window.swizapp = {};window.swizapp.urls={};</script>
  {% block head %}{% endblock %}
</head>
<body>
	<div id="hd">
		<div id="hd-top">
			<a id="hd-top-logo" href="/">
			  <img alt="{{request.registry.settings.name}}" width="210" height="100" border="0" 
				  src="{{request.static_url('viper:static/images/logo.gif')}}" />
			  <span class="version">{{request.registry.settings.version}}</span>
			</a>    
			<ul id="hd-top-menu" class="inline content">
			  <li>Welcome, {{user.UserName}}! |</li>
			  <li><a accesskey="s" href="/settings/global">Settings</a> |</li>
			  <li><a href="/logout">Logout</a></li>
			</ul>
			<div id="hd-notifications" class="content"></div>
		</div> 
		<div id="hd-navbar" class="content">
			{% block specialNav %}
				<!--
					<a id="new-invoice-button" href="/sales/new"><span>New Invoice</span></a>
				-->
			{% endblock %}
			<ul id="hd-navbar-menu" class="negative">
				<li class="{{'active' if request.path == '/'}}"><a href="/">Dashboard</a></li>
				<li class="{{'active' if request.path == '/sales'}}"><a href="/sales">Sales</a></li>
				<li class="{{'active' if request.path.startswith('/invoice')}}"><a href="{{'invoices' | route_url}}">Invoices</a></li>
				<li class="{{'active' if request.path.startswith('/stock/products')}}"><a href="{{'products' | route_url}}">Products</a></li>
				<li class="{{'active' if request.path.startswith('/stock/purchases')}}"><a href="{{'purchases' | route_url}}">Purchases</a></li>
				<li class="{{'active' if request.path.startswith('/customers')}}"><a href="{{'customers' | route_url}}">Customers</a></li>
				<li class="{{'active' if request.path.startswith('/suppliers')}}"><a href="{{'suppliers' | route_url}}">Suppliers</a></li>
				<li class="{{'active' if request.path.startswith('/reports')}}"><a href="/reports">Reports</a></li>
				<li class="{{'active' if request.path.startswith('/admin')}}"><a href="/admin">Admin</a></li>
			</ul>
		</div>
	</div>
	<div id="bd">
		<div id="bd-top">
			{% block topcontent %}{% endblock %}
		</div>
		<div id="bd-content">
			{% block content %}{% endblock %}
		</div>
		{% block footer %}{% endblock %}
	</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{request.static_url('viper:static/js/jquery.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/jquery-ui.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/json2.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/bootstrap.min.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/underscore.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/backbone.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/jquery.jeditable.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/jquery.dateFormat-1.0.js')}}"></script>    
    <script src="{{request.static_url('viper:static/js/typeahead.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/templateLoader.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/swizapp/common.js')}}"></script>
    <script src="{{request.static_url('viper:static/js/core/timers.js')}}"></script>
    <script>
		//<![CDATA[
		var notifications = 0;
		$(document).bind('NotificationEvent', function(e, data) {
			notifications++;
			var next = (notifications > 1 ? '<small>' + (notifications - 1) + ' more...</small>' : '');
			var html = $('<div class="notification ' + data.type + '" style="display:none;">' + next + data.message + '</div>');
			$('#hd-notifications').append(html);
			$('html, body').animate({ scrollTop: 0 }, 'fast', function() {
				html.oneTime(500, function(){
				  $(this).slideDown(500);
				});
			});
		}).bind('NotificationRemoveEvent', function() {
			notifications--;
		});
		$('#hd-notifications .notification').live('click', function() {
			$(this).slideUp(500);
			$(document).trigger('NotificationRemoveEvent');
		});
		$(document);;
		//]]>
		</script>
    {% block footerscript %}{% endblock %}
    <!--
    <footer class="footer">
		<p class="pull-right">
			<a href="#">Back to top</a>
		</p>
		<p>
			All Rights Reserved. &copy; www.vipersuites.com
		<p>
	</footer>
	-->
</body>
</html>
