{% extends "templates/layout.jinja2" %}
{% block specialNav %}
	<a id="new-invoice-button" href="{{'addinvoice'|route_url}}"><span>New Invoice</span></a>
{% endblock %} 
{% block topcontent %}
<form id="searchForm" class="searchform" action="{{'searchinvoices_xhr'|route_url}}">
	<div id="searchFilters">
		<div class="searchSection">
			<ul>
				<li>
					<label for="invoiceNo">Invoice No# </label> 
					<input type="text" name="invoiceNo" value="{{searchValue| d('',true)}}"/>
				</li>
				<li>
					<label for="fromDate">From: </label> 
					<input type="text" name="fromDate" class="datetime" value=""/>
				</li>
				<li>
					<label for="toDate">To: </label> 
					<input type="text" name="toDate" class="datetime" />
				</li>
				<li>
					<label for="search_quick_dates"> </label>
					<select id="search_quick_dates" name="search_quick_dates">
						<option selected="selected" value=""></option>
						<option value="last_week">last week</option>
						<option value="last_month">last month</option>
						<option value="last_year">last year</option>
						<option value="last_5_years">last 5 years</option>
						<option value="this_week">this week</option>
						<option value="this_month">this month</option>
						<option value="this_year">this year</option>
					</select>
				</li>
			</ul>
		</div>
		<hr class="searchSeparator"/>
		<div class="searchSection">
			<ul class="filters">
				<li>Status: </li>
				<li><input type="radio" name="invoicestatus" value="all" checked="checked"/> <span>All</span> |</li>
				<li><input type="radio" name="invoicestatus" value="opened"/> <span>Opened</span> |</li>
				<li><input type="radio" name="invoicestatus" value="closed"/> <span>Closed</span> |</li>
				<li><input type="radio" name="invoicestatus" value="overdue"/> <span>Overdue</span> </li>
			</ul>
			<ul>
				<li>
					<label for="customerId">Customer: </label> 
					<input type="text" name="customerName" value="{{ customerName | d('',true) }}"/>
				</li>
			</ul>			
		</div>
	</div>
	<span class="buttons">
		<button id="search-form-submit" class="btn" type="submit">
			<span><span>Search</span></span>
		</button>
		<button id="search-form-reset" class="btn" type="reset">
			<span><span>Reset</span></span>
		</button>
	</span>
</form>
{% endblock %}
{% block content %}
<script>
	window.swizapp.settings = {
		currency: '{{ 0 | currency }}'
	};
	window.swizapp.urls = {
		edit	: '{{ 'editinvoice' | route_url(invoiceid='')}}',
		add		: '',
		delete	: '{{ 'deleteinvoice' | route_url(invoiceid='')}}',
		list	: '{{ 'invoices' | route_url }}',
		payments: '{{'invoicepayments' | route_url(invoiceid='')}}',
		savepayments: '{{ 'saveinvoicepayments' | route_url}}'
	};
</script>
<div class="content">
	<div id="result">
		{% include 'templates/invoice/partialInvoiceList.jinja2' with context %}
	</div>
</div>    
<div id="templates" style="display:none;">
<script type="text/template" id="tplAddPayment">
<ul class="payments" data-id="<%=item.Id%>">
  <li>
	<ul>
		<a class="remove xit" href="#"></a>
		<li>
			<select name="paymentType">
				<option <%= item.Type=='Cash' ? 'selected' : ''%>>Cash</option>
				<option <%= item.Type=='Card' ? 'selected' : ''%>>Card</option>
				<option <%= item.Type=='Cheque' ? 'selected' : ''%>>Cheque</option>
			</select>
			<input type="hidden" name="paymentId" value="<%=item.Id%>"/>
			<input type="hidden" name="remove" class="remove" value="0"/>
		</li>
		<li><input type="text" class="datetime" name="paymentDate" value="<%=$.format.date(ToLocalDate(item.PaymentDate), 'dd-MM-yyyy')%>"/></li>
		<li><input type="text" class="amount" name="paidAmount" value="<%=item.PaidAmount.toFixed(2)%>"/></li>
	</ul>
  </li>
</ul>
</script>
	<script type="text/template" id="tplPayment">
<form class="payments-form" method="post" action="{{ 'saveinvoicepayments' | route_url}}">
<% _.each(items,function(item){ %>
<ul class="payments" data-id="<%=item.Id%>">
  <li>
	<ul>
		<a class="remove xit" href="#"></a>
		<li>
			<select name="paymentType">
				<option <%= item.Type=='Cash' ? 'selected' : ''%>>Cash</option>
				<option <%= item.Type=='Card' ? 'selected' : ''%>>Card</option>
				<option <%= item.Type=='Cheque' ? 'selected' : ''%>>Cheque</option>
			</select>
			<input type="hidden" name="paymentId" value="<%=item.Id%>"/>
			<input type="hidden" name="remove" class="remove" value="0"/>
		</li>
		<li><input type="text" title="Paid Date" class="datetime" name="paymentDate" value="<%=$.format.date(ToLocalDate(item.PaymentDate), 'dd-MM-yyyy')%>"/></li>
		<li><input type="text" title="Paid Amount" class="amount" name="paidAmount" value="<%=item.PaidAmount.toFixed(2)%>"/></li>
	</ul>
  </li>
</ul>
<% }); %>
<div style="float:left;margin:10px 45px;font-weight:bold;">
    Total Paid Amount: <span style="color:red">Rs. <span class="pamt">
	<%= _.reduce(items, function(m,x) { return (m + x.PaidAmount); }, 0.0).toFixed(2) %>
	</span></span>
</div>
<div class="buttons text-right">
	<a class="btn action add-payment"><span><span>Add payment</span></span></a>
	<a class="btn action cancel"><span><span>Cancel</span></span></a>
	<button type="submit" class="btn action save"><span><span>Save</span></span></button>
</div>
</form>
	</script>
</div>  
{% endblock %}
{% block footerscript %}
<script>
	$(function(){
		$('input.datetime').datepicker({ 
			dateFormat:'dd-mm-yy',
			showAnim: 'slide',
			changeMonth: true,
			changeYear: true,
			showOn: "both",
			buttonImage: "/static/images/icons/calendar.png",
			buttonImageOnly: true 
		})
		
		$('form#searchForm').submit(function(){
			var postdata = $(this).serialize()
			$('#result').html('<div class="ajaxBar">')
			$.post($(this).attr('action'),postdata,function(data){
				if(data){
					$('#result').html(data)
				}else{
					// search returns no value
					$('#result').html('<div class="error wrong">No items found!</div>')
				}
				$(document).trigger('AjaxRefreshEvent')
				InitLoadPayments()
			})
			return false
		})
		
		$('.payments-row form.payments-form').live('submit', function(){
			var $prow = $(this).closest('tr')
			var $tr = $prow.prev()
			var invoiceid = $tr.data('id')
			var invoiceno = $tr.data('invoiceno')
					
			if(invoiceid && window.swizapp.urls.savepayments) {
				var postdata = {}  
				postdata.invoiceId = invoiceid
				postdata.payments = []
				
				var fdata = $(this).serializeObject()
				
				if(fdata.paymentId instanceof Array){
					for(var i=0; i < fdata.paymentId.length; ++i) {
						var item = {}
						item.paymentId   = fdata.paymentId[i]
						item.paymentDate = fdata.paymentDate[i]
						item.paymentType = fdata.paymentType[i]
						item.paidAmount  = fdata.paidAmount[i]
						item.remove 	 = fdata.remove[i]
						postdata.payments.push(item)
					}
				}else{
					postdata.payments.push(fdata)
					
					if(!fdata.paidAmount) {
						showMsg('warning','No Payments entered. Not saving!')
						return false
					}
				}
				
				$.post(window.swizapp.urls.savepayments, JSON.stringify(postdata), function(data){
					if (data && data.status==true){
						showMsg('success', '<strong>#'+invoiceno+'</strong> - '+ data.message)
						$('form#searchForm').submit()
					}else{
						showMsg('error', (data && data.message) ? data.message : 'Error while saving payment details!')
					}
					$prow.remove()
				},'json')
			}
			return false
		})
		
		// "Add payment" button
		$('.payments-row a.add-payment').live('click', function(e) {
			e.preventDefault()
			
			// find the layer with payments
			var tr         = $(this).closest('.payments-row')
			var container  = $(this).closest('.payments-row').find('.payments:last')
			
			if(container.length == 0) {
				container = $('<ul class="payments"></ul>')
				$('td:first form',tr).prepend(container)
			}  
			
			var compl = _.template($('#tplAddPayment').html())
			var newpayment = compl({'item': 
				{
					Id: '',
					PaymentType: 'Cash',
					PaymentDate: new Date(),
					PaidAmount: 0.0
				}
				})
			
			container.after(newpayment).fadeIn()
			
			$('.payments input.datetime').datepicker({ dateFormat: 'dd-mm-yy' })
			//$('input[type=text], textarea', newpayment).SwizappFormTips()		  
		});
	    
	    /* "Cancel" button */
	    $('.payments-row a.cancel').live('click', function(e) {
	      e.preventDefault();
	      $(this).closest('tr.payments-row').remove();
	    });
	
	    /* Remove payment link*/
	    $('.payments-row a.xit').live('click', function(e) {
	      e.preventDefault();
	      var p = $(this).closest('ul');
	      p.find('input.remove').val(1);
	      p.parent().hide();
	    })
		
		function InitLoadPayments() {
			$('#invoiceTable tbody tr td.payments button').click(function(e){
				e.preventDefault()
				
				var $tr = $(this).parent().closest('tr')
				var invoiceid = $tr.data('id')			
				
				if(!invoiceid && !window.swizapp.urls.payments) return false
				
				if($tr.next('tr').hasClass('payments-row')) {
					$tr.next('tr').fadeOut().remove()
				}else{
					 var $td = $('<td class="payments-form-container">')
					 				.attr('colspan', $tr.children('td').length)
					 				.append('<div class="ajaxBar">');
	        		$tr.after($('<tr class="payments-row" style="display:none;">').append($td).show());
	        				
					var url = window.swizapp.urls.payments + invoiceid
					
					$.post(url,null,function(data){
						var html = '';
						var compl = _.template($('#tplPayment').html())
						
						if(data && data.payments) {
							html = compl({'items': data.payments})
						}else{
							html = compl({'items': []})
						}
						
						$td.html(html).fadeIn()
						
						$('input.datetime', $td).datepicker({ dateFormat: 'dd-mm-yy' })
					},'json')
				} 
			})
		}
		InitLoadPayments()
	});
</script>
{% endblock %}
