{% extends "templates/layout.jinja2" %}
{% block head %}
<style>
	.totalAmount{
		font-size: 3em;
    	line-height: 50px;
	}
	.paidAmount{
		font-size: 2em;
    	line-height: 50px;
	}
	#totalItemsQuantity{font-weight:bold;font-size:1.24em;}
</style>
{% endblock %}
{% block specialNav %}
<a id="new-invoice-button" href="{{'addinvoice'|route_url}}"><span>New Invoice</span></a>
{% endblock %} 
{% block content %}
<div id="invoice-container" class="content" style="position: relative;">
    <h2>
   		{{ 'New Invoice' if not model.Id }}
        {{ 'Edit Invoice' if model.Id }}
        {% set totalAmount = model.GetTotalAmount() %}
		{% set paidAmount = model.GetPaidAmount() %}
		{% set dueAmount =  model.GetBalanceAmount() %}
		
        {% if model.Id %}
			{% if (model.DueDate | comptoday) == 1 and dueAmount > 0.0 %}
				<span style="float: right;" class="status overdue"> Overdue </span>
			{% elif ( totalAmount == 0 or dueAmount > 0) %}
				<span style="float: right;" class="status opened"> Opened </span>
			{% else %}
				<span style="float: right;" class="status closed"> Closed </span>
			{% endif %}
		{% endif %}
	</h2>
	<form action="{{'saveinvoice'|route_url}}" method="post">
		<div style="position: absolute; top: -4px; right: 100px;">
			<button type="button" id="save-invoice" title="Save Invoice" class="btn action save"><span><span>Save</span></span></button>
	   		<button type="button" id="payments-invoice" title="Pay Invoice" class="btn action payment"><span><span>Payments (F5)</span></span></button>
	   		<button type="button" id="print-invoice" title="Print Invoice" class="btn action print"><span><span>Print (F11)</span></span></button>
	   		<button type="button" id="preview-invoice" title="Preview Invoice" class="btn action pdf"><span><span>Preview (F12)</span></span></button>
		</div>
		<div id="settings-wrapper" style="padding: 0pt;">
			{% if errors %}
				<div class="alert error">
					{{ errors }}
				</div>
				<div class="clear"></div>
			{% endif %}
			<div class="global-data block" id="invoiceDetails" style="float: left; padding-bottom: 0pt; margin-right: 90px;">
				<h3>Invoice Details</h3>
				<table>
					<tr>
						<th style="width:150px;">Invoice No# </th>
						<td style="width:250px;">
							<span data-rv-text="model.OrderNo"></span>
							<input type="hidden" name="invoiceid" id="invoiceid" value="{{model.Id | d('',true)}}"/>
						</td>
					</tr>
					<tr>
						<th>Invoice Date</th>
						<td>
							<input type="text" style="width:85px;" class="datetime" name="InvoiceDate" data-rv-value="model.OrderDate | date" value=""/>
							<span data-rv-html="model.OrderDate | time"></span>
						</td>
					</tr>
					<tr>
						<th>Due Date</th>
						<td>
							<input type="text" style="width:85px;" class="datetime" name="DueDate" data-rv-value="model.DueDate | date" value=""/>
						</td>
					</tr>
				</table>
			</div>
			<div class="global-data block" style="padding-bottom: 0pt;">
				<h3>
					<a href="#" id="searchCustomer" title="Search Customer...">
					Customer Info
					<small><img src="/static/images/icons/show.png" alt="Search"/></small>
					</a>
				</h3>
				<table>
					<tr id="customerDetails">
						<th style="width:150px;">Customer No# </th>
						<td style="width:250px;">
							<span data-rv-text="model.CustomerNo"></span>
							<input type="hidden" name="CustomerId" data-rv-value="model.Id" value=""/>
						</td>
					</tr>
					<tr>
						<th>Customer Name </th>
						<td class="customerContactDetails">
							<span data-rv-text="model.FirstName"></span>
						</td>
					</tr>
					<tr>
						 <th>Mobile</th>
						 <td class="customerContactDetails">
						 	<span data-rv-text="model.Mobile"></span>
						 </td>
					</tr>
				</table>
			</div>
			<div class="clear"></div>
			<div id="lineItems" class="global-data">
				<h3>Line Items</h3>
				<table style="width:98%">
					<tr>
						<td>
							<input type="text" class="mousetrap" title="Barcode" maxlength="20" placeholder="Enter barcode" id="barcode" name="barcode" autocomplete="off" autofocus/>
						</td>
						<td style="text-align: right;">
							<input type="text" class="mousetrap" title="Item Name" maxlength="30" placeholder="Enter item name" id="itemName" name="itemName" autocomplete="off"/>
						</td>
						<td style="text-align: right;">
							<input type="hidden" name="quantity" value="1"/>
							<button type="submit" id="add-item" class="btn action primary create"><span><span>Add</span></span></button>
						</td>
					</tr>
				</td>
				<div class="clear"></div>
				<table class="listing noedit" style="margin: 0px; width: 98.5%;">
					<colgroup>
						<col class="noborder" style="width: 3%;">
						<col style="width: 15%;">
						<col class="tright">
						<col class="tright" style="width: 12%;">
						<col class="tright" style="width: 12%;">
						<col class="tright" style="width: 12%;">
						<col class="tright" style="width: 12%;">
					</colgroup>
					<thead>
						<tr>
							<th class="noborder"><a href="#" id="clear-lineitems" class="remove-item xit"></a></th>
							<th>Barcode</th>
							<th>Item Name</th>
							<th class="tright">MRP</th>
							<th class="tright">Price</th>
							<th class="tright">Quantity</th>
							<th class="tright">Gross</th>
						</tr>
					</thead>
				</table>
				<div style="max-height: 270px; width: 99.5%; overflow-y: scroll;">
					<table class="listing noedit" id="tblInvoiceLineItems" style="margin:0px;">
						<colgroup>
							<col class="noborder" style="width: 3%;">
							<col style="width: 15%;">
							<col class="tright">
							<col class="tright" style="width: 12%;">
							<col class="tright" style="width: 12%;">
							<col class="tright" style="width: 12%;">
							<col class="tright" style="width: 12%;">
						</colgroup>
						<tbody>
							
						</tbody>
					</table>
				</div>
				<table class="listing noedit" style="margin-top:0px;width:98.5%" id="invoiceAmountDetails">
					<colgroup>
						<col class="noborder" style="width: 3%;">
						<col style="width: 15%;">
						<col class="right">
						<col class="right" style="width: 12%;">
						<col class="right" style="width: 12%;">
						<col class="right" style="width: 12%;">
						<col class="right" style="width: 12%;">
					</colgroup>
					<tfoot>
						<tr>
							<td class="noborder"></td>
							<td class="noborder"></td>
							<td>
								<span>Total Items/Quantity: 
									<span id="totalItemsQuantity">
										<span data-rv-text="model.TotalItems"></span>
										/
										<span data-rv-text="model.TotalQuantity"></span>
									</span>
								</span>
							</td>
							<td class="right strong big">
								<span>Total: </span>
							</td>
							<td colspan="3" class="right strong totalAmount green">
								<span id="totalAmount" data-rv-html="model.TotalAmount | round | currency"></span>
							</td>
						</tr>
						<tr>
							<td class="noborder"></td>
							<td class="noborder"></td>
							<td class="strong">
								<span>
									Savings: <span id="savingsAmount" data-rv-html="model.SavingsAmount | round | currency"></span>
								</span>
							</td>
							<td class="right strong big">
								<span>Paid: </span>
							</td>
							<td colspan="3" class="right strong paidAmount">
								<span id="paidAmount" data-rv-html="model.PaidAmount | round | currency"></span>
							</td>
						</tr>
						<tr>
							<td class="noborder"></td>
							<td class="noborder"></td>
							<td class="noborder"></td>
							<td class="right strong big">
								<span id="lblBalanceAmount">Balance: </span>
							</td>
							<td colspan="3" class="right strong big paidAmount dueamount">
								<span id="balanceAmount" data-rv-html="model.BalanceAmount | round | currency"></span>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	 </form>
</div>
<div style="display:block;">
	<div class="content modal fade" id="customerSearchModal">
	  <div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Search Customer</h3>
	  </div>
	  <div class="modal-body global-data">
	  	<input type="text" name="searchText" value="" placeholder="Enter customer no or name or mobile..." style="width:80%" autocomplete="off"/>
	  	<div style="margin-top:20px;max-height:250px;overflow-y:auto">
			<table class="listing noedit">
				<thead>
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>Mobile</th>
						<th>Address</th>
						<th class="noborder"></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	  </div>
	  <div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn action cancel"><span><span>Close</span></span></a>
	  </div>
	</div>
	<div class="content modal fade" id="selectItemModal">
	  <div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Multiple Items found</h3>
	  </div>
	  <div class="modal-body global-data">
		<table class="listing noedit" id="tblSelectItem">
			<thead>
				<tr>
					<th>Barcode</th>
					<th>Item Name</th>
					<th class="tright">MRP</th>
					<th class="tright">Price</th>
					<th>Created Date</th>
					<th class="noborder"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	  </div>
	  <div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn action cancel"><span><span>Close</span></span></a>
	  </div>
	</div>
	<div class="content modal fade" id="checkoutOrderModel">
	  <form name="invoicePaymentsForm" id="invoicePaymentsForm" class="payments-form" style="padding:0em;">
	  <div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Invoice Payments</h3>
	  </div>
	  <div class="modal-body">
		
	  </div>
	  <div class="modal-footer">
		<div style="float: left;">
			<span>Print Ticket:</span> 
			<span>
				<input type="checkbox" name="printTicket" checked="checked" />
			</span>
		</div>
		<a href="#" data-dismiss="modal" class="btn action cancel"><span><span>Close</span></span></a>
		<button type="submit" name="btnPayOrder" class="btn primary action save" id="btnPayOrder"><span><span>Pay</span></span></button>		
	  </div>
	  </form>
	</div>
</div>
<div id="templates" style="display:none">
	<script type="text/template" id="tpl-chkoutorder">
<div>
	<table>
		<tr>
			<td>Invoice No#</span>
			<td class="strong">
				<span data-rv-text="invoice.OrderNo"></span>
			</td>
			<td>Customer:</td>
			<td class="strong">
				<span data-rv-text="invoice.Customer.Contact.FirstName | upper"></span>
			</td>
			<td>Total Amount: </td>
			<td class="strong big green">
				<span data-rv-html="invoice.TotalAmount | round | currency"></span>
			</td>
		</tr>
	</table>
	<div id="pastPayments">
		<ul class="payments strong">
			<li>
				<ul>
					<li style="width:80px;">Type</li><li style="width:105px;">Date</li><li style="width:105px;">Amount</li>
				</ul>
			</li>
		</ul>
	</div>
	<ul class="payments" id="currentPayment">
	<li>
	<ul>
		<li>
			<select class="dropdown" name="paymentType">
				<option>Cash</option>
				<option>Credit</option>
				<option>Card</option>
				<option>Cheque</option>
			</select>
		</li>
		<li>
			<input type="text" title="Paid Date" class="datetime" name="paymentDate" data-rv-value="CurrentPayment.PaymentDate | date" autocomplete="off" />
		</li>
		<li class="strong big red">
			<span>{{ '' | currency(true,false) }}</span>
			<input class="mousetrap" type="number" name="paidAmount"  data-rv-value="CurrentPayment.PaidAmount | round" autofocus autocomplete="off" />
		</li>
	</ul>
	</li>
	</ul>
</div>
	</script>
	<script type="text/template" id="tplAddPayment">
<ul class="payments">
  <li>
	<ul style="margin-left: 0.8em;">
		<a data-rv-id="item.Id" class="remove xit" href="#"><input type="hidden" name="paymentId" data-rv-value="item.Id"/></a>
		<li>
			<select class="dropdown" name="paymentType" data-rv-select="item.PaymentType">
				<option data-rv-selected="item.PaymentType=='Cash'">Cash</option>
				<option data-rv-selected="item.PaymentType=='Credit'">Credit</option>
				<option data-rv-selected="item.PaymentType=='Card'">Card</option>
				<option data-rv-selected="item.PaymentType=='Cheque'">Cheque</option>
			</select>
		</li>
		<li>
			<input type="text" title="Paid Date" class="datetime" name="paymentDate" data-rv-value="item.PaymentDate | date" autocomplete="off" />
		</li>
		<li>
			<span>{{ '' | currency(true,false) }}</span>
			<input type="number" title="Paid Amount" name="paidAmount" data-rv-value="item.PaidAmount | round" autocomplete="off" />
		</li>
	</ul>
  </li>
</ul>
	</script>
	<script type="text/template" id="tplCustomer">
		<tr data-id="<%=item.id%>" data-no="<%=item.customerno%>" data-name="<%=item.name%>" data-mobile="<%=item.mobile%>">
			<td><%= item.customerno %></td>
			<td><%= item.name %></td>
			<td><%= item.mobile %></td>
			<td><%= item.address %></td>
			<td class="tcenter">
				<button class="btn btn-mini btn-info select"><span><span>Select</span></span></button>
			</td>
		</tr>
	</script>
	<script type="text/template" id="tpl-selectitem">
		<% 	var cnt=0;
			_.each(items, function(item) { %>
		<tr>
			<td><%= item.Barcode %></td>
			<td><%= item.Name %></td>
			<td class="tright"><%= item.MRP.toFixed(2) %></td>
			<td class="tright"><%= item.SellPrice.toFixed(2) %></td>
			<td><%= $.format.date(ToLocalDate(item.CreatedOn),'dd-MM-yyyy h:mm a') %></td>
			<td class="tcenter"><button class="btn btn-mini btn-info" data-id="<%= cnt++ %>"><span><span>Select</span></span></button></td>
		</tr>
		<% }); %>
	</script>
	<script type="text/template" id="tpl-lineitem">
		<tr data-id="<%= item.Id %>">
			<td class="del">
				<a href="#" class="del-lineitem remove-item xit"></a>
			</td>
			<td class="b" data-rv-text="model.Barcode">
			</td>
			<td data-col="name" class="n edit">
				<input type="text" name="lineitemName" data-rv-value="model.Name" value="" class="mousetrap" autocomplete="off"/>
			</td>
			<td data-col="mrp" class="m edit tright">
				<input type="text" name="itemMRP" data-rv-value="model.MRP | fixed" value="" class="mousetrap" autocomplete="off" />
			</td>
			<td data-col="price" class="p edit tright">
				<input type="text" name="itemSellPrice" data-rv-value="model.SellPrice | fixed" value="" class="mousetrap" autocomplete="off" />
			</td>
			<td data-col="quantity" class="q edit tright">
				<input type="text" name="itemQuantity" data-rv-value="model.Quantity" value="" class="mousetrap" autocomplete="off" />
			</td>
			<td class="st tright tbold" data-rv-text="model.Amount | fixed">				
			</td>
		</tr>
	</script>
	{% for tpl in templates if templates %}
		<script type="text/template" rel="print" id="tpl-{{tpl.Id}}">
			{{tpl.Content | safe}}
		</script>
	{% endfor %}	
</div>
{% endblock %}
{% block footerscript %}
<script src="{{request.static_url('viper:static/js/mousetrap.min.js')}}"></script>
<script src="{{request.static_url('viper:static/js/backbone-relational.js')}}"></script>
<script src="{{request.static_url('viper:static/js/moment.js')}}"></script>
<script src="{{request.static_url('viper:static/js/rivets.js')}}"></script>
<script src="{{request.static_url('viper:static/js/swizapp/invoice.js')}}"></script>
<script>
	$(function(){		
		$('input.datetime').datepicker({ dateFormat: 'dd-mm-yy' })
		
		$('#tblInvoiceLineItems input, #barcode, #itemName').live('focus',function(){
			$(this).select()
		});
		
		$('form').submit(function(){ return false; });
	});
</script>
{% endblock %}
