{% if model != None and (model | count) > 0 %} 
<table id="invoiceTable" class="listing">
	<thead>
		<tr class="empty noborder listing-options">
			<td colspan="5">
				<!-- <a class="btn batch delete action-clear"
					href="#"
					onclick="if(confirm('Are you sure?')){ do_batch('delete'); };return false;"
					confirm="Are you sure?"> <span><span>Delete</span></span>
				</a>-->
				<a class="btn batch print action-clear" href="#" onclick=";return false;" rel="print:html">
					<span><span>Print</span></span>
				</a>
				<a class="btn batch pdf action-clear" href="#" onclick=";return false;" rel="print:pdf">
					<span><span>Pdf</span></span>
				</a>
				<a class="btn batch send action-clear" href="#" onclick=";return false;" rel="batch:email">
					<span><span>Email</span></span>
				</a>
			</td>
			<td class="strong noborder" title="Total Invoices">Total ({{totalInvoices | d('0',true)}})</td>
			<td class="strong noborder right" title="Total invoice amounts">{{ totalAmount | d(0.00,true) | currency }}</td>
			<td class="totalDue dueamount strong noborder right" title="Total due amounts">{{ totalDueAmount | d(0.00,true) | currency }}</td>
			<td class="noborder" colspan="1000"></td>
		</tr>
		<tr class="empty noborder">
			<td colspan="1000"></td>
		</tr>
		<tr>
			<th class="xs"><input id="select_all" type="checkbox"
			name="select_all" rel="all" /></th>
			<th>Invoice No#</th>
			<th>Customer</th>
			<th>Invoice Date</th>
			<th>Due Date</th>
			<th>Total Items</th>
			<th>Status</th>
			<th class="gross_amount">Total</th>
			<th class="due_amount"> Due</th>
			<th class="noborder"></th>
		</tr>
	</thead>
	<tbody>
		{% for item in model -%}
			{% set dueAmount = (item.OrderAmount - item.PaidAmount) %}
			<tr class="{{ loop.cycle('odd', 'even') }}" data-invoiceno="{{item.OrderNo}}" data-id="{{item.Id}}">
			    <td class="check">
	                      <input type="checkbox" rel="item" name="ids" value="{{item.Id}}">
	            </td>
				<td>
					{{item.OrderNo}}
				</td>
				<td>
					{{item.CustomerName | d('--',true)}}
				</td>
				<td>
					{{item.OrderDate | datetimeformat}}
				</td>
				<td>
					{{item.DueDate | datetimeformat('%d %b, %Y') | d('--',true)}}
				</td>
				<td>
					{{item.ItemCount | d('0',true)}}
				</td>
				<td>
					{% if (item.DueDate | comptoday) == 1 and dueAmount > 0.0 %}
						<span class="status overdue"> Overdue </span>
					{% elif (dueAmount > 0.0) or item.OrderAmount == 0 %}
						<span class="status opened"> Opened </span>
					{% elif (item.ItemCount == 0) %}
						<span class="status draft"> Draft </span>
					{% else %}
						<span class="status closed"> Closed </span>
					{% endif %}
				</td>
				<td class="right">
					{{item.OrderAmount | currency }}
				</td>
				<td class="right {{ 'dueamount' if dueAmount > 0.00 }}"  title="Paid Amount: {{item.PaidAmount|currency(false)}}">
					{{ (dueAmount if dueAmount > 0.0 else 0.0) | currency}}
				</td>
				<td class="action payments">
	                <button class="btn payment action-clear" href="#" type="button">
	                    <span><span>Payments</span></span>
	                </button>
	            </td>
			</tr>
		{%- endfor %}
	</tbody>
</table>
{% import 'shared/paginate.jinja2' as pager with context %}
{% call pager.paginate('invoices' | route_url, pageno, pagesize, totalInvoices) %}
	<input type="hidden" name="customerName" value="{{ customerName }}"/>
	<input type="hidden" name="customerId" value="{{ customerId }}"/>
	<input type="hidden" name="fromDate" value="{{ fromDate }}"/>
	<input type="hidden" name="toDate" value="{{ toDate }}"/>
	<input type="hidden" name="invoicestatus" value="{{ invoicestatus }}"/>
{% endcall%}
{% else %}
	<div class="alert alert-info">
		No records found!
	</div>
{% endif %}