{% extends "templates/admin/layout.jinja2" %}
{% block atopcontent %}
{% endblock %} 
{% block acontent %}
<div class="clear"></div>
{% endblock%} 
{% block afooterscript %}
<script>
	
</script>
{% endblock%}
