{% extends "templates/layout.jinja2" %}
{% block head %}
	<style>
		#customer-data label{ display:none; }
	</style>
{% endblock %}
{% block specialNav %}
	<a id="new-invoice-button" href="{{'addcustomer'|route_url}}"><span>New Customer</span></a>
{% endblock %}
{% block content %}
<div id="customer-container" class="content">
	<h2> {% if model.Id == None %}
			Add Customer
		{% else %}
			Edit Customer
		{% endif %}
	</h2>
	{% if errors %}
		<div class="alert error">
			{{ errors }}
		</div>
		<div class="clear"></div>
	{% endif %}
	<!--
	{% if errors or renderer.errorlist() or cfr.errorlist() %} 
		<div>
			<strong>Please correct the errors and submit again:</strong>
			{{ ('<ul class="error_list"><li>'+ errors + '</li></ul>') | safe if errors }}
			{{renderer.errorlist(name=None,class='error_list')}}
			{{cfr.errorlist(name=None,class='error_list')}}
		</div>
	{% endif %}
	-->
	<form action="{{'savecustomer'|route_url}}" method="post">
		<div id="settings-wrapper">
			<h3>Customer Info</h3>
			<fieldset>
				<ul>
					<li>
						<span class="_75">
							{{renderer.label('CustomerNo','Customer Number',class='tip')}}
							{{renderer.text('CustomerNo',placeholder='Enter unique customer number',size=20,class='full error wrong' if renderer.is_error('CustomerNo') else 'full',title='Customer Number')}}
						</span>
					</li>
				</ul>
				<div class="clear"></div>
				<h3>Contact Info</h3>
				{% import 'shared/contactform.jinja2' as contactForm with context %}
				{{ contactForm.render(cfr) }}
				<div class="clear"></div>
			</fieldset>
		</div>
		<div class="clear"></div>
		<div id="saving-options" class="block">
			<input type="hidden" name="cid" value="{{model.Id|d('',True)}}"/>
			{% if model.Id %}
			<a class="btn action delete" onclick="return confirm('Are you sure?');" 
				href="{{ 'deletecustomer' | route_url(cid=model.Id)}}"
				confirm="Are you sure?" post="1">
				<span><span>Delete</span></span>
			</a>
			{% endif %}
			<button class="btn action primary save" type="submit">
				<span><span>Save</span></span>
			</button>
		</div>
	</form>
</div>
{% endblock %}
{% block footerscript %}
<script>
	$(function(){
		
	})
</script>
{% endblock %}

