{% extends "templates/layout.jinja2" %}
{% block content %}
<section id="manage-products">
	<div class="page-header">
		<h1>Product Management
			 <small class="pull-right">
			  	<a href="{{'addproduct'|route_url}}" title="Add New Product to stock!" class="btn btn-primary">
			  		<i class="icon-plus icon-white"></i> Add Item
			  	</a>
			 </small>
		 </h1>
	</div> 	
	<div class="row-fluid">
		<div class="span12">
			<form id="searchForm" class="well form-inline" action="{{'products_xhr'|route_url}}">
				<label for="searchValue">Search Value: </label>
				<input type="text" name="searchValue" placeholder="Enter barcode or item name" id="searchValue" autofocus/>
				<input type="radio" name="searchField" value="Barcode" checked/> Barcode
				<input type="radio" name="searchField" value="Name"/> Name
				<input type="submit" name="submit" value="Search" class="btn btn-success"/>
				<input type="reset" name="reset" value="Reset" class="btn"/>
			</form>
		</div>
	</div>
	<div id="result">
    	{% include 'templates/stock/products/partialItemList.jinja2' with context %}
	</div>
</section>      
{% endblock %}
{% block footerscript %}
<style>
tr.alert-error td{
	background-color: #F2DEDE !important;
    border-color: #EED3D7;
    color: #B94A48;
}
</style>
<script>
	$(function(){
		//$('#prdTable').dataTable();
		
		$('form#searchForm').submit(function(){
			var postdata = $(this).serialize()
			$.post($(this).attr('action'),postdata,function(data){
				if(data){
					$('#result').html(data)
				}else{
					// search returns no value
					$('#result').html('<div class="alert alert-info">No items found!</div>')
				}
			})
			return false
		})
		
		$('table#prdTable tbody td.edit').live('click', function(){
			var w = $(this).width()-10
			$(this).editable(function(value,settings){
				var col = $(this).data('col')
				var id = $(this).parent().data('id')
				var val = null
				if(col != 'Name' && col != 'Barcode') {
					val = !isNaN(value) ? parseFloat(value) : null
					value = val
				}else{
					val = value
				}
				if(val) {
					var postdata = {id:id, field:col, value:val}
					$.post('/stock/updateproduct_xhr',postdata,function(data){
						if(data && data.status == true) {
							//update success
						}else{
							// failed
						}
					},'json')
					return value
				}
			},
			{
				event: 'edit',
				height: 20,
				width: w,
				cssclass: 'inline-form',
			})
			$(this).trigger('edit')
		})
		
		$('table#prdTable a.pstatus').live('click',function(){
			var url = $(this).data('url')
			var st = $(this).data('status')
			var tr = $(this).closest('tr')
			var that = $(this)
			$.post(url,{status:!(st == 'True')},function(data){
				if(data && data.status == true) {
					if(st == 'True') {
						tr.addClass('alert')
						tr.addClass('alert-error')
						that.text('Mark Active')
						that.data('status','False')
					} else {
						tr.removeClass('alert')
						tr.removeClass('alert-error')
						that.text('Mark Return')
						that.data('status','True')
					}
				}
			})
			return true
		})
	});
</script>
{% endblock %}
