{% extends "templates/layout.jinja2" %}
{% block specialNav %}
	<a id="new-invoice-button" href="{{'addproduct'|route_url}}"><span>New Product</span></a>
{% endblock %} 
{% block topcontent %}
<form id="searchForm" action="{{'products_xhr'|route_url}}">
	<div id="searchFilters">
		<div class="searchSection">
			<ul>
				<li>
					<label for="searchValue">Search Value: </label>
					<input type="text" placeholder="Enter barcode or item name" 
						name="searchValue" value="{{searchValue| d('',true)}}"/>
				</li>
				<li>
					<label for="searchField">Search Field: </label>
					<input type="radio" name="searchField" value="Barcode" checked/> Barcode
					<input type="radio" name="searchField" value="Name"/> Name
				</li>
			</ul>
		</div>
	</div>
	<span class="buttons">
		<input	type="hidden" name="pageSize" value="20" />
		<button id="search-form-submit" class="btn" type="submit">
			<span><span>Search</span></span>
		</button>
		<button id="search-form-reset" class="btn" type="reset">
			<span><span>Reset</span></span>
		</button>
	</span>
</form>
{% endblock %}
{% block content %}
<script>
	window.swizapp.urls = {
		edit	: '{{ 'editproduct'| route_url(pid='')}}',
		add		: '{{ 'addproduct' | route_url }}',
		delete	: '{{ 'deleteproduct'| route_url(pid='')}}',
		list	: '{{ 'products' | route_url }}'
	};
</script>
<div id="invoice-container" class="content">
	<div id="result">
    	{% include 'templates/stock/products/partialItemList.jinja2' with context %}
	</div>
</div>      
{% endblock %}
{% block footerscript %}
<style>
tr.alert-error td{
	background-color: #F2DEDE !important;
    border-color: #EED3D7;
    color: #B94A48;
}
</style>
<script>
	$(function(){
		$('.inline-form input, input[name=searchValue]').live('focus',function(){
			$(this).select()
		}).live('blur',function(){
			$(this).val($(this).val())
		})	
		$('input[name=searchValue]').focus()
		
		$('form#searchForm').submit(function(){
			var postdata = $(this).serialize()
			$.post($(this).attr('action'),postdata,function(data){
				if(data){
					$('#result').html(data)
				}else{
					// search returns no value
					$('#result').html('<div class="error wrong">No items found!</div>')
				}
			})
			return false
		})
		
		$('table#prdTable tbody td.edit').live('click', function(){
			var w = $(this).width()-10
			$(this).editable(function(value,settings){
				var col = $(this).data('col')
				var tr = $(this).parent()
				var id = tr.data('id')
				var val = null
				
				value = value.trim()
				
				if(col != 'Name' && col != 'Barcode') {
					val = !isNaN(value) ? parseFloat(value).toFixed(2) : null
					value = val
				}else{
					val = value
				}
				
				if(val) {
					var postdata = {productId:id}
					if(col == 'SellPrice') {
						var mrp = parseFloat(tr.children('td[data-col=MRP]').text())
						var sellPrice = val
						var discount = (((mrp-sellPrice)*100)/mrp)
						postdata.SellPrice = sellPrice
						postdata.Discount = discount
						tr.children('td[data-col=Discount]').text(discount.toFixed(2))
					} else if(col == 'Discount') {
						var mrp = parseFloat(tr.children('td[data-col=MRP]').text())
						var discount = val
						var sellPrice = Math.round(mrp - (mrp * (discount/100.0)))
						postdata.Discount = discount
						postdata.SellPrice = sellPrice
						tr.children('td[data-col=SellPrice]').text(sellPrice)
					} else if(col == 'MRP') {
						var discount = parseFloat(tr.children('td[data-col=Discount]').text())
						var mrp = val
						var sellPrice = Math.round(mrp - (mrp * (discount/100.0)))
						postdata.MRP = mrp
						postdata.SellPrice = sellPrice
						tr.children('td[data-col=SellPrice]').text(sellPrice)
					}else{
						postdata[col] = val
					}

					$.post('/stock/updateproduct_xhr',postdata,function(data){
						if(data && data.status == true) {
							//update success
							showMsg('info','Updated successfully!')
						}else{
							// failed
							showMsg('error','Updated falied!')
						}
					},'json')
					return value
				}
			},
			{
				event: 'edit',
				height: 20,
				width: w,
				cssclass: 'inline-form',
			})
			$(this).trigger('edit')
		})
		
		/*$('table#prdTable a.pstatus').live('click',function(){
			var url = $(this).data('url')
			var st = $(this).data('status')
			var tr = $(this).closest('tr')
			var that = $(this)
			$.post(url,{status:!(st == 'True')},function(data){
				if(data && data.status == true) {
					if(st == 'True') {
						tr.addClass('alert')
						tr.addClass('alert-error')
						that.text('Mark Active')
						that.data('status','False')
					} else {
						tr.removeClass('alert')
						tr.removeClass('alert-error')
						that.text('Mark Return')
						that.data('status','True')
					}
				}
			})
			return true
		})*/
	});
</script>
{% endblock %}
