{% extends "templates/layout.jinja2" %}
{% block specialNav %}
<a id="new-invoice-button" href="{{'addproduct'|route_url}}"><span>New	Product</span></a>
{% endblock %} 
{% block content %}
<div id="customer-container" class="content">
    <h2> {{ 'Add Product' if not model.Id }}
	        {{ 'Edit Product' if model.Id }}
	</h2>
	<form action="{{'saveproduct'|route_url}}" method="post">
		{% if errors %}
			<div class="alert error">
				{{ errors }}
			</div>
			<div class="clear"></div>
		{% endif %}
		<div id="customer-data" class="global-data block">
			{% import 'shared/productform.jinja2' as productForm with context %}
			{{ productForm.render(renderer) }}
		</div>
		<div id="saving-options" class="block">
			<input type="hidden" name="pid" value="{{model.Id|d('',True)}}"/>
			{% if model.Id %} 
			<a class="btn action delete"
				onclick="return confirm('Are you sure?');"
				href="{{ 'deleteproduct' | route_url(pid=model.Id)}}"
				confirm="Are you sure?" post="1"> <span><span>Delete</span></span>
			</a> 
			{% endif %}
			<button class="btn action save" type="submit">
				<span><span>Save</span></span>
			</button>
		</div>
	 </form>
</div>
{% endblock %}
{% block footerscript %}
<script>
	$(function(){
		$('input.datetime').datepicker({ dateFormat: 'dd-mm-yy' })
		$('#customer-data input[type=text], #customer-data textarea').SwizappFormTips()
	});
</script>
{% endblock %}
