{% if model != None and (model | count) > 0 %} 
<table id="prdTable" class="listing noedit">
	<thead>
		<tr class="empty noborder listing-options">
			<td colspan="10">
				<a class="btn batch delete action-clear"
					href="#"
					onclick="if(confirm('Are you sure?')){ do_batch('delete'); };return false;"
					confirm="Are you sure?"> <span><span>Delete</span></span>
				</a>
			</td>
		</tr>
		<tr class="empty noborder">
			<td colspan="1000"></td>
		</tr>
		<tr>
			<th class="xs"><input id="select_all" type="checkbox"
				name="select_all" rel="all" /></th>
			<th>Barcode</th>
			<th>Name</th>
			<th>Supplier</th>
			<th class="tright">MRP</th>
			<!--<th class="tright">BuyPrice</th>-->
			<th  class="tright">SellPrice</th>
			<th  class="tright">Discount</th>
			<!--
			<th style="text-align:center;">Status</th>
			<th style="text-align:center;">Updated On</th> 
			-->
			<th class="noborder"></th>
		</tr>
	</thead>
	<tbody>
		{% for item in model -%}
			<tr data-id="{{item.Id}}" title="Created On {{item.CreatedOn | datetimeformat('%d-%m-%Y')}}" 
				data-id="{{item.Id}}" class="{{ loop.cycle('odd', 'even') }}">
			    <td class="check">
                      <input type="checkbox" name="ids" value="{{item.Id}}">
            	</td>
				<td data-col="Barcode" class="edit">{{item.Barcode}}</td>
				<td data-col="Name" class="edit">{{item.Name}}</td>
				<td><div style="float:left;position:relative;left:-45px;"><a href="{{'editproduct' | route_url(pid=item.Id)}}" title="Edit!">Edit</a></div>{{item.Supplier.Name}}</td>
				<td data-col="MRP" class="edit tright">{{item.MRP}}</td>
				<!--<td style="text-align:right;">{{item.BuyPrice}}</td>-->
				<td data-col="SellPrice" class="edit tright">{{item.SellPrice}}</td>
				<td data-col="Discount" class="edit tright">{{item.Discount}}</td>
				<!-- <td style="text-align:center;">{{item.UpdatedOn | datetimeformat('%d-%m-%Y') | d('--',true)}}</td>-->
				<td class="action payments">
					{% if item.Status %}
						<a title="Click to return the item!" data-status="{{item.Status}}" class="pstatus" href="{{'markreturnproduct' | route_url(pid=item.Id)}}?status={{(not item.Status) | lower}}"> 
							<span class="status closed"> Return </span>
						</a>
					{% else %}
						<a title="Click to activate the item!" data-status="{{item.Status}}" class="pstatus" href="{{'markreturnproduct' | route_url(pid=item.Id)}}?status={{(not item.Status) | lower}}">
							<span class="status overdue"> Active </span>
						</a>
					{% endif %}
            	</td>
			</tr>
		{%- endfor %}
	</tbody>
</table>
{% else %}
	<div class="alert alert-info">
		No products found!
	</div>
{% endif %}
