thead.fixed {
	display:block;
}

tbody.scroll {
	display: block;
	overflow: auto;
}

.tbold{
	font-weight:bold;
}

.tcenter{
	text-align:center !important;
}

.tleft{
	text-align:left !important;
}

.tright{
	text-align:right !important;
}
