{% macro render(renderer) -%}
<ul>
	<li>
		<span class="_50">
			{{renderer.label('FirstName','First Name',class='tip')}}
			{{renderer.text('FirstName',size=20,class='error wrong' if renderer.is_error('FirstName'),title='First name')}}
		</span>
		<span class="_50">
			{{renderer.label('LastName','Last Name',class='tip')}}
			{{renderer.text('LastName',size=20,class='error wrong' if renderer.is_error('LastName'),title='Last name')}}
		</span>
	</li>
	<li>
		<span class="_75  ">
			{{renderer.label('Email','Email',class='tip')}}
			{{renderer.text('Email',size=255,class='error wrong' if renderer.is_error('Email'),title='Email')}}
		</span>
	</li>
	<li>
		<span class="_50  ">
			{{renderer.label('Phone','Phone',class='tip')}}
			{{renderer.text('Phone',size=15,class='error wrong' if renderer.is_error('Phone'),title='Landline')}}
		</span>
		<span class="_50  ">
			{{renderer.label('Mobile','Mobile',class='tip')}}
			{{renderer.text('Mobile',size=15,class='error wrong' if renderer.is_error('Mobile'),title='Mobile')}}
		</span>
	</li>
	<li>
		<span class="_50  ">
			{{renderer.label('City','City',class='tip')}}
			{{renderer.text('City',size=30,class='error wrong' if renderer.is_error('City'),title='City')}}
		</span>
		<span class="_50 ">
			{{renderer.label('Country','Country',class='tip')}}
			{{renderer.text('Country',size=30,class='error wrong' if renderer.is_error('Country'),title='Country')}}
		</span>
	</li>
	<li>
		<span class="_50">
			{{renderer.label('Zipcode','Zipcode',class='tip')}}
			{{renderer.text('Zipcode',size=10,class='error wrong' if renderer.is_error('Zipcode'),title='Zipcode')}}
		</span>
	</li>
	<li>
		<span class="_75">
			{{renderer.label('Address','Address',class='tip')}}
			{{renderer.textarea('Address',class='error wrong' if renderer.is_error('Address'),title='Address')}}
		</span>
	</li>
</ul>
{% if caller %}
	caller()
{% endif%}
{%- endmacro %}
