{% macro render(renderer) -%}
<table class="table">
	<tbody>
		<tr>
			<td><div class="control-group {{ 'error' if renderer.is_error('FirstName') }}">
				{{renderer.label('FirstName','First Name',class='control-label')}}
				<div class="controls">
					{{renderer.text('FirstName',size=20,class='input-xlarge',autofocus=True)}}
				</div>
			</div></td>
			<td><div class="control-group {{ 'error' if renderer.is_error('LastName') }}">
				{{renderer.label('LastName','Last Name',class='control-label')}}
				<div class="controls">
					{{renderer.text('LastName',size=20,class='input-xlarge')}}
				</div>
			</div></td>
		</tr>
		<tr>
			<td><div class="control-group {{ 'error' if renderer.is_error('Email') }}">
				{{renderer.label('Email','Email',class='control-label')}}
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">
							<i class="icon-envelope"></i>
						</span>{{renderer.text('Email',size=255,class='input',style='width:242px')}}
					</div>
				</div>
			</div></td>
			<td><div class="control-group {{ 'error' if renderer.is_error('Phone') }}">
				{{renderer.label('Phone','Phone',class='control-label')}}
				<div class="controls">
					{{renderer.text('Phone',size=15,class='input-xlarge')}}
				</div>
			</div></td>
		</tr>
		<tr>
			<td><div class="control-group {{ 'error' if renderer.is_error('Mobile') }}">
				{{renderer.label('Mobile','Mobile',class='control-label')}}
				<div class="controls">
					{{renderer.text('Mobile',size=15,class='input-xlarge')}}
				</div>
			</div></td>
			<td><div class="control-group {{ 'error' if renderer.is_error('Address') }}">
				{{renderer.label('Address','Address',class='control-label')}}
				<div class="controls">
					{{renderer.textarea('Address',class='input-xlarge')}}
				</div>
			</div></td>
		</tr>
		<tr>
			<td><div class="control-group {{ 'error' if renderer.is_error('City') }}">
				{{renderer.label('City','City',class='control-label')}}
				<div class="controls">
					{{renderer.text('City',size=30,class='input-xlarge')}}
				</div>
			</div></td>
			<td><div class="control-group {{ 'error' if renderer.is_error('Country') }}">
				{{renderer.label('Country','Country',class='control-label')}}
				<div class="controls">
					{{renderer.text('Country',size=30,class='input-xlarge')}}
				</div>
			</div></td>
		</tr>
		<tr>
			<td><div class="control-group {{ 'error' if renderer.is_error('Zipcode') }}">
				{{renderer.label('Zipcode','Zipcode',class='control-label')}}
				<div class="controls">
					{{renderer.text('Zipcode',size=10,class='input-xlarge')}}
				</div>
			</div></td>
			<td>
				
			</td>
		</tr>
	</tbody>
</table>
{% if caller %}
	caller()
{% endif%}
{%- endmacro %}
