{% macro render(renderer,quantity=False) -%}
<ul>
	<li class="left">
		{{renderer.label('Barcode','Barcode',class='tip')}}
		{{renderer.text('Barcode',title='Barcode',placeholder='Enter Barcode',size=30,class='error wrong' if renderer.is_error('Barcode'),autofocus=True)}}
	</li>
	<li>
		{{renderer.label('Name','Product Name',class='tip')}}
		{{renderer.text('Name',title='Product Name',placeholder='Enter Product Name',size=30,class='error wrong' if renderer.is_error('Name'))}}
	</li>
	<li class="left">
		{{renderer.label('CategoryId','Category',class='tip')}}
		{{renderer.select('CategoryId',[['2512571362BE49278623B784C49CB01A','Default']],style="width: 238px;",prompt='Choose a category',class='error wrong' if renderer.is_error('CategoryId'))}}
	</li>
	<li style="display:inline-block">
		{{renderer.label('TaxCategoryId','Tax Category',class='tip')}}
		{{renderer.select('TaxCategoryId',[['8CD9785EF59C40138C9CFDDE4B144738','Tax 12.5%']],style="width: 238px;",prompt='Choose a Tax category',class='error wrong' if renderer.is_error('TaxCategoryId'))}}
	</li>
	<li class="left">
		{{renderer.label('MRP','MRP',class='tip')}}
		{{renderer.text('MRP',size=30,title='MRP',class='error wrong' if renderer.is_error('MRP'))}}
	</li>
	<li style="display:inline-block">
		{{renderer.label('Discount','Discount',class='tip')}}
		{{renderer.text('Discount',size=30,title='Discount',class='error wrong' if renderer.is_error('Discount'))}}
	</li>
	<li class="left">
		{{renderer.label('BuyPrice','BuyPrice',class='tip')}}
		{{renderer.text('BuyPrice',size=30,title='Buy Price',class='error wrong' if renderer.is_error('BuyPrice'))}}
	</li>
	<li style="display:inline-block">
		{{renderer.label('SellPrice','SellPrice',class='tip')}}
		{{renderer.text('SellPrice',size=30,title='Sell Price',class='error wrong' if renderer.is_error('SellPrice'))}}
	</li>
	{% if quantity -%}
	<li class="left">
		<label for="Quantity">Quantity</label>
		<input type="text" title="Quantity" id="Quantity" name="Quantity" size="50" value="0.0"/>
	</li>
	{% else %}
	<li class="left" style="width: 100%;">
		<!-- {{renderer.label('Status','Status',class='tip')}}
		{{renderer.checkbox('Status',title='Active',style="width:250px")}}-->
		{{renderer.hidden('SupplierId')}}
		{{renderer.hidden('Status')}}
	</li>
	{%- endif %}
	<li class="left">
		{{renderer.label('MfgDate','Mfg Date',class='tip')}}
		{{renderer.date('MfgDate',size=30,title='Mfg Date',class='datetime')}}
	</li>
	<li style="display:inline-block">
		{{renderer.label('ExpiryDate','Expiry Date',class='tip')}}
		{{renderer.date('ExpiryDate',size=30,title='Expire Date',class='datetime')}}
	</li>
</ul>
	{% if caller %}
		caller()
	{% endif%}
{%- endmacro %}
