{% macro render(renderer,quantity=False) -%}
<ul>
	<li>
		<span class="_50">
			{{renderer.text('Barcode',title='Barcode',placeholder='Enter Barcode',size=50,class='error wrong' if renderer.is_error('Barcode'),autofocus=True)}}
		</span>
		<span class="_50">
			{{renderer.text('Name',title='Product Name',placeholder='Enter Product Name',size=50,class='error wrong' if renderer.is_error('Name'))}}
		</span>
	</li>
	<li>
		<span class="_50">
			{{renderer.select('CategoryId',[['2512571362BE49278623B784C49CB01A','Default']],prompt='Choose a category',class='error wrong' if renderer.is_error('CategoryId'))}}
		</span>
		<span class="_50">
			{{renderer.select('TaxCategoryId',[['8CD9785EF59C40138C9CFDDE4B144738','Tax 12.5%']],prompt='Choose a Tax category',class='error wrong' if renderer.is_error('TaxCategoryId'))}}
		</span>
	</li>
	<li>
		<span class="_50">
			{{renderer.text('MRP',title='MRP',size=6,class='error wrong' if renderer.is_error('MRP'))}}
		</span>
		<span class="_50">
			{{renderer.text('Discount',title='Discount',size=6,class='error wrong' if renderer.is_error('Discount'))}}
		</span>
	</li>
	<li>
		<span class="_50">
			{{renderer.text('BuyPrice',title='Buy Price',size=6,class='error wrong' if renderer.is_error('BuyPrice'))}}
		</span>
		<span class="_50">
			{{renderer.text('SellPrice',title='Sell Price',size=6,class='error wrong' if renderer.is_error('SellPrice'))}}
		</span>
	</li>
	{% if quantity -%}
	<li>
		<span class="_50">
			<input type="text" title="Quantity" id="Quantity" name="Quantity" size="6" value="0.0"/>
		</span>
		<span class="_50">
		</span>
	</li>
	{% else %}
	<li>
		<span class="_50">
			{{renderer.checkbox('Status',title='Active')}}
			{{renderer.hidden('SupplierId')}}
		</span>
		<span class="_50">
		</span>
	</li>
	{%- endif %}
	<li>
		<span class="_50">
			{{renderer.date('MfgDate',title='Mfg Date',class='datetime')}}
		</span>
		<span class="_50">
			{{renderer.date('ExpiryDate',title='Expire Date',class='datetime')}}
		</span>
	</li>
	<!-- 
	<li>
		<span class="_50">
		</span>
		<span class="_50">
		</span>
	</li>
	-->
</ul>
	{% if caller %}
		caller()
	{% endif%}
{%- endmacro %}
