{% macro render(renderer) -%}
<ul>
	<li>
		{{renderer.label('Name')}}
		{{renderer.text('Name',size=70,class='error wrong' if renderer.is_error('Name'),title='Company Name')}}
	</li>
	<li>
		{{renderer.label('Description')}}
		{{renderer.textarea('Description',cols="30",rows="4",class='full error wrong' if renderer.is_error('Description') else 'full',title='Company Description')}}
	<li>
		{{renderer.label('Website')}}
		{{renderer.text('Website',size=255,class='error wrong' if renderer.is_error('Website') else 'full',title='Company Website')}}
	<li>
		{{renderer.label('URL')}}
		{{renderer.text('Url',size=255,class='error wrong' if renderer.is_error('Url') else 'full',title='Url')}} 
		<input type="hidden" name="tenantId" value="{{model.Id|d('',True)}}" />
	</li>
	<li>
		<label for="companylogo">Logo</label> 
		<input	id="companylogo" type="file" name="companylogo">
	</li>
	<li>
		<label for="currency">Currency</label> 
		<select	id="currency" name="currency">
			<option value="GBP">British Pound Sterling</option>
			<option value="CAD">Canadian Dollar</option>
			<option value="EUR">Euro</option>
			<option value="FRF">French Franc</option>
			<option value="DEM">German Mark</option>
			<option value="XAU">Gold</option>
			<option value="HKD">Hong Kong Dollar</option>
			<option selected="selected" value="INR">Indian Rupee</option>
			<option value="IQD">Iraqi Dinar</option>
			<option value="JPY">Japanese Yen</option>
			<option value="JOD">Jordanian Dinar</option>
			<option value="KWD">Kuwaiti Dinar</option>
			<option value="LYD">Libyan Dinar</option>
			<option value="MYR">Malaysian Ringgit</option>
			<option value="MVR">Maldivian Rufiyaa</option>
			<option value="MVP">Maldivian Rupee</option>
			<option value="NAD">Namibian Dollar</option>
			<option value="NPR">Nepalese Rupee</option>
			<option value="PKR">Pakistani Rupee</option>
			<option value="XPT">Platinum</option>
			<option value="QAR">Qatari Rial</option>
			<option value="RHD">Rhodesian Dollar</option>
			<option value="XAG">Silver</option>
			<option value="SGD">Singapore Dollar</option>
			<option value="LKR">Sri Lanka Rupee</option>
			<option value="XXX">Unknown or Invalid Currency</option>
			<option value="USD">US Dollar</option>
			<option value="YDD">Yemeni Dinar</option>
			<option value="YER">Yemeni Rial</option>
			<option value="ZWD">Zimbabwean Dollar</option>
		</select>
	</li>
</ul>
{% if caller %} 
	caller() 
{% endif%} 
{%- endmacro %}
