{% macro render(renderer) -%}
<ul>
	<li>
		{{renderer.label('UserName','User Name')}}
		{{renderer.text('UserName',size=20,class='error wrong' if renderer.is_error('UserName'),title='Admin User Name')}}
	</li>
	<li>
		{% if not model.Id %}
		<!--
		{{renderer.label('Password',None,class='control-label')}}
		<div class="controls">
			{{renderer.password('Password',class='input-xlarge')}}
		</div>
		-->
		{% endif %}
	</li>
	{% if caller %}
		caller()
	{% endif%}
</ul>
{%- endmacro %}
