{% extends "templates/layout.jinja2" %}
{% block specialNav %}
    <a id="new-invoice-button" href="{{'addsupplier'|route_url}}"><span>New Supplier</span></a>
{% endblock %}
{% block topcontent %}
    <form id="searchForm" class="searchform" method="post" action="{{'suppliers'|route_url}}" name="searchForm">
        <div id="searchFilters">
            <div class="searchSection">
                <ul>
                    <li>
                        <label for="search_query">Search</label>
                        <input id="search_query" type="text" name="searchValue" value={{searchValue | d('',true)}}>
                    </li>
                    <li>
                        <select name="searchField" style="width:105px">
                            <option value="name">Name</option>
                            <option value="mobile">Mobile</option>
                            <option value="contactname">Contact Name</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <span class="buttons">
            <button id="search-form-submit" class="btn" type="submit">
                <span><span>Search</span></span>
            </button>
            <button id="search-form-reset" class="btn" type="reset">
                <span><span>Reset</span></span>
            </button>
        </span>
    </form>
{% endblock %}
{% block content %}
<script>
	window.swizapp.urls = {
		edit	: '{{ 'editsupplier'| route_url(sid='')}}',
		add		: '{{ 'addsupplier' | route_url }}',
		delete	: '{{ 'deletesupplier'| route_url(sid='')}}',
		list	: '{{ 'suppliers' | route_url }}'
	};
</script>
<div class="content">
	{% if model != None and (model | count) > 0 %} 
	<table id="supplierTable" class="listing">
		<thead>
			<tr class="empty noborder listing-options">
                <td colspan="10">
                    <a class="btn batch delete action-clear" href="#" onclick="if(confirm('Are you sure?')){ do_batch('delete'); };return false;" confirm="Are you sure?">
                        <span><span>Delete</span></span>
                    </a>
                </td>
            </tr>
            <tr class="empty noborder">
                <td colspan="1000"></td>
            </tr>
            <tr>
                <th class="xs">
                    <input id="select_all" type="checkbox" name="select_all" rel="all"/>
                </th>
				<th>Company</th>
				<!--<th>Address</th>-->
				<th>First Name</th>
				<!--<th>Last Name</th>-->
				<th>Email</th>
				<th>Phone</th>
				<th>Mobile</th>
				<!--<th>Address</th>-->
				<th>City</th>
				<th class="noborder"></th>
			</tr>
		</thead>
		<tbody>
			{% for item in model %}
				{% set cnt = item.Contacts[0] %}
				<tr data-id="{{item.Id}}" class="{{ loop.cycle('odd', 'even') }}">
				    <td class="check">
                        <input type="checkbox" rel="item" name="ids" value="{{item.Id}}">
                    </td>
					<td>
						{{item.Name}}
					</td>
					<!--<td>
						{{item.Address}}
					</td>-->
					<td>
						{{cnt.FirstName}}
					</td>
					<!--<td>
						{{cnt.LastName | d('---',True)}}
					</td>-->
					<td>
						{{cnt.Email | d('---',True)}}
					</td>
					<td>
						{{cnt.Phone | d('---',True)}}
					</td>
					<td>
						{{cnt.Mobile | d('---',True)}}
					</td>
					<!--<td>
						{{cnt.Address | d('---',True)}}
					</td>-->
					<td>
						{{cnt.City | d('---',True)}}
					</td>
					<td class="action payments">
                        <button class="btn invoices action-clear" 
                            onclick="document.location.href='{{'purchases' | route_url}}?supplierId={{item.Id}}'"
                            href="#" type="button">
                            <span><span>Purchases</span></span>
                        </button>
                    </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% import 'shared/paginate.jinja2' as pager with context %}
	{{ pager.paginate('suppliers' | route_url, pageno, pagesize, total) }}
	{% else %}
		<div class="alert alert-info">
			No records found!
		</div>
	{% endif %}
</div>      
{% endblock %}
{% block footerscript %}
<script>
	$(function(){
		
	});
</script>
{% endblock %}
