{% extends "templates/layout.jinja2" %} {% block head %}
<style>
#customer-data label {
	display: none;
}
</style>
{% endblock %} {% block specialNav %}
<a id="new-invoice-button" href="{{'addsupplier'|route_url}}"><span>New
		Supplier</span></a>
{% endblock %} {% block content %}
<div id="customer-container" class="content">
	<h2>{% if model.Id == None %} Add Supplier {% else %} Edit
		Supplier {% endif %}</h2>
	<!--
     {% if errors or renderer.errorlist() or cfr.errorlist() %} 
         <div class="alert alert-error">
             <strong>Please correct the errors and submit again:</strong>
             {{ ('<ul><li>'+ errors + '</li></ul>') | safe if errors }}
             {{renderer.errorlist(name=None,class='')}}
             {{cfr.errorlist(name=None,class='')}}
         </div>
     {% endif %}
     -->
	<form action="{{'savesupplier'|route_url}}" method="post">
		<div id="customer-data" class="global-data block">
			{% import 'shared/contactform.jinja2' as contactForm with context %}
			<h3>Agency Info</h3>
			<ul>
				<li><span class="_50">
						{{renderer.text('Name',size=100,class='error wrong' if
						renderer.is_error('Name'),title='Supplier Name',autofocus=True)}} </span></li>
				<li><span class="_50">
						{{renderer.textarea('Description',class='error wrong' if
						renderer.is_error('Description'),title='Description')}} </span> <span class="_50">
						{{renderer.textarea('Address',class='error wrong' if
						renderer.is_error('Address'),title='Address')}} </span></li>
			</ul>
			<div class="clear"></div>
			<h3>Contact Info</h3>
			{{ contactForm.render(cfr) }}
		</div>
		<div id="saving-options" class="block">
			<input type="hidden" name="sid" value="{{model.Id|d('',True)}}" />
			{% if model.Id %} 
			<a class="btn action delete"
				onclick="return confirm('Are you sure?');"
				href="{{ 'deletecustomer' | route_url(cid=model.Id)}}"
				confirm="Are you sure?" post="1"> <span><span>Delete</span></span>
			</a> 
			{% endif %}
			<button class="btn action save" type="submit">
				<span><span>Save</span></span>
			</button>
		</div>
	</form>
</div>
{% endblock %}
{% block footerscript %}
<script>
	$(function(){
		$('#customer-data input[type=text], #customer-data textarea').SwizappFormTips()
	})
</script>
{% endblock %}