<table class="dashboard-summary dashboard-info">
	<tbody>
		<tr>
			<td>Invoices</td>
			<td class="right">{{ invoice.Count | d(0,true)}}</td>
		</tr>
		<tr>
			<td>Total</td>
			<td class="right">{{ invoice.TotalAmount | d(0.00,true) | currency}}</td>
		</tr>
		<tr class="amount">
			<td>Due</td>
			<td class="right">{{ (invoice.TotalAmount - invoice.PaidAmount) | d(0.00,true) | currency}}</td>
		</tr>
		<tr class="overdue">
			<td>Overdue Invoices</td>
			<td class="right">{{ invoice.Overdues.Count | d(0,true)}}</td>
		</tr>
		<tr class="overdue">
			<td>Overdue</td>
			<td class="right">{{ (invoice.Overdues.OverdueAmount) | d(0.00,true) | currency}}</td>
		</tr>
	</tbody>
</table>