<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>The SwizApp - The perfect invoicing system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Versatile Point of Sales System Software. Delivering simplicity, trust, relaiablity...">
    <meta name="author" content="cackharot@gmail.com">
    <link rel="shortcut icon" href="{{request.static_url('viper:static/favicon.ico')}}" />

    <link href="{{request.static_url('viper:static/css/tripoli/tripoli.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/buttons.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/layout.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/login.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/controls.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/typography.css')}}" rel="stylesheet">
    <link href="{{request.static_url('viper:static/css/swissapp/theme.css')}}" rel="stylesheet">
</head>
<body class="signin">
	<div id="hd"></div>
	<div id="bd">
		<div id="bd-content">
			<div id="bd-login-form" class="" style="margin-top: -175px;">
				<form class="login-form" id="login-form" name="login_form" method="POST" action="{{request.route_url('login')}}">
					<ul>
						<li>
							<label>Company Code:</label>
							<input type="text" id="signin_companycode" name="companycode" value="{{companycode}}" autofocus /><br />
						</li>
						<li class="row">
							<label>Username:</label>
							<input type="text" id="signin_username" name="username" value="{{username}}" /><br />
						</li>
						<li class="row">
							<label>Password:</label>
							<input type="password" id="signin_password" name="password" value="{{password}}" /> <br />
						</li>
						<li id="remember-me-option" class="row">
							<input id="signin_remember" type="checkbox" name="signin[remember]"/>
							<span>
								<label for="signin_remember">Remember me</label>
							</span>
						</li>
						<li class="buttons">
							<button id="signin" class="btn" type="submit">
								<span><span>Sign in</span></span>
							</button>
						</li>
					</ul>
					<a id="password-trigger" href="#">Forgot your password?</a>
				</form>
				{% if message %}
				<div class="alert alert-error" style="margin-left:-50px;">
					{{message}}
				</div>
				{% endif%}
			</div>
		</div>
	</div>
	<div id="ft"></div>
</body>
</head>
