{% extends "templates/layout.jinja2" %} 
{% block specialNav %}
	<a id="new-invoice-button" href="{{'addpurchase'|route_url}}">
		<span>NewPurchase</span>
	</a>
{% endblock %} 
{% block content %}
<div id="customer-container" class="content">
	<h2>
		{{ 'Add Purchase' if not model.Id }} 
		{{ 'Edit Purchase' if model.Id }}
		{% set totalAmount = model.GetTotalAmount() %}
		{% set paidAmount = model.GetPaidAmount() %}
		{% set dueAmount =  totalAmount - paidAmount %}
		
		{% if model.Id %}
			{% if (model.DueDate | comptoday) == 1 and dueAmount > 0.0 %}
				<span style="float: right;" class="status overdue"> Overdue </span>
			{% elif ( totalAmount == 0 or dueAmount > 0) %}
				<span style="float: right;" class="status opened"> Opened </span>
			{% else %}
				<span style="float: right;" class="status closed"> Closed </span>
			{% endif %}
		{% endif %}
	</h2>
	<div id="statusMessage">
	</div>
	<div class="clear"></div>	
	<table class="dashboard-summary" style="position: absolute; right: 25px;width: 23%;">
		<tbody>
			<tr>
				<td>Total Items</td>
				<td class="right">
					<span id="totalItems">{{model.TotalItems}}</span>
				</td>
			</tr>
			<tr>
				<td>Total Quantity</td>
				<td class="right">
					<span id="totalQuantity">{{model.TotalQuantity}}</span>
				</td>
			</tr>
			<tr class="bold">
				<td>Total Amount</td>
				<td class="right">
					{{''|currency(true,false)}}<span id="totalAmount">{{totalAmount | round(2)}}</span>
				</td>
			</tr>
			<tr>
				<td>Paid Amount</td>
				<td class="right">
					{{''|currency(true,false)}}<span id="paidAmount">{{paidAmount | round(2)}}</span>
				</td>
			</tr>
			<tr class="dueamount">
				<td>Due Amount</td>
				<td class="right">
					{{''|currency(true,false)}}<span id="dueAmount">{{dueAmount | round(2)}}</span>
				</td>
			</tr>
		</tbody>
	</table>
	<form id="frmPurchase" action="{{'savepurchase'|route_url}}" method="post">
		<div id="settings-wrapper" style="padding: 0pt;">
			<h3>Purchase Info</h3>
			{% if errors %}
				<div class="alert error">
					{{ errors }}
				</div>
				<div class="clear"></div>
			{% endif %}
			<fieldset>
				<ul>
					<li class="left">
						{{renderer.label('PurchaseNo','Purchase Bill Number',class='tip')}}
						{{purchaseRenderer.text('PurchaseNo',placeholder='Enter purchase bill number',title='Purchase Bill Number',size=20,class='error wrong' if purchaseRenderer.is_error('PurchaseNo'))}} 
					</li>
					<li>
						{{renderer.label('SupplierId','Supplier',class='tip')}}
						{{purchaseRenderer.select('SupplierId',suppliers,prompt='Choose a supplier',title='Supplier',class='error wrong' if	purchaseRenderer.is_error('SupplierId'),style="width: 300px;")}}
					</li>
					<li class="left">
						{{renderer.label('PurchaseDate','Purchase Date',class='tip')}}
						{{purchaseRenderer.date('PurchaseDate',title='Purchase Date',class='datetime error' if purchaseRenderer.is_error('PurchaseDate') else 'datetime')}}
					</li>
					<li>  
						{{renderer.label('DueDate','Due Date',class='tip')}}
						{{purchaseRenderer.date('DueDate',title='Due Date',class='datetime error' if	purchaseRenderer.is_error('DueDate') else 'datetime')}} 
					</li>
				</ul>
			</fieldset>
		</div>
		<div id="saving-options" class="block">
			<input type="hidden" id="pid" name="pid" value="{{model.Id|d('',True)}}" /> 
			{%	if model.Id %} 
				<a class="btn action delete" onclick="return confirm('Are you sure to delete this purchase?');"
					href="{{ 'deletepurchase' | route_url(pid=model.Id)}}"> 
						<span><span>Delete</span></span>
				</a> 
			{% endif %}
			<button class="btn action save" type="submit">
				<span><span>Save</span></span>
			</button>
		</div>
	</form>
	<div class="clear"></div>
	{%	if model.Id %} 
	<h3>Line Items</h3>
	<form id="frmLineItem" method="POST">
		<div id="settings-wrapper" style="padding: 0pt;">
			<fieldset>
				{% import 'shared/productform.jinja2' as productForm with context %}
				{{ productForm.render(renderer,True) }} 
				<input type="hidden"name="ProductId" value="" />
			</fieldset>
		</div>
		<div id="saving-options" class="block">
			<button class="btn action create" type="submit">
				<span><span>Add</span></span>
			</button>
			<button class="btn action cancel" type="reset">
				<span><span>Reset</span></span>
			</button>
		</div>
	</form>
	<div class="clear"></div>
	<div style="overflow-y: scroll;">
		<table class="listing noedit" style="margin:0px;">
			<colgroup>
				<col class="noborder" style="width: 6%;">
				<col style="width: 13%;">
				<col class="right">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
			</colgroup>
			<thead>
				<th class="noborder"></th>
				<th>Barcode</th>
				<th>Name</th>
				<th class="right">MRP</th>
				<th class="right">Tax</th>
				<th class="right">Price</th>
				<th class="right">Discount</th>
				<th class="right">Quantity</th>
				<th class="right">Total</th>
			</thead>
		</table>
	</div>
	<div style="max-height:270px;overflow-y:scroll">
		<table class="listing noedit" id="lineItemTable" style="margin-top:0px">
			<colgroup>
				<col class="noborder" style="width: 6%;">
				<col style="width: 13%;">
				<col class="right">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
				<col class="right" style="width: 10%;">
			</colgroup>
			<tbody>
				{% for item in model.LineItems %}
				<tr>
					<td><a data-total="{{item.BuyAmount}}"
						data-quantity="{{item.Quantity}}" class="delitem remove-item xit"
						href="/stock/deletepurchaselineitem?purchaseId={{model.Id}}&lineItemId={{item.Id}}"
						title="Delete this item!">Delete</a></td>
					<td>{{item.Barcode}}</td>
					<td>{{item.Name}}</td>
					<td class="right">{{item.MRP}}</td>
					<td class="right">{{item.Tax}}</td>
					<td class="right">{{item.BuyPrice}}</td>
					<td class="right">{{item.Discount}}</td>
					<td class="right">{{item.Quantity}}</td>
					<td class="right tbold">{{item.BuyAmount}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
</div>
<div id="templatesection" style="display:none;">
	<script type="text/template" id="tplLineItem">
		<tr data-id="<%= item.Id %>">
			<td class="del">
				<a data-total="<%= item.Total %>"
					data-quantity="<%= item.Quantity%>" href="/stock/deletepurchaselineitem?purchaseId=<%=purchaseId %>&lineItemId=<%=item.Id%>" 
					title="Delete this item!" class="delitem remove-item xit">Delete</a>
			</td>
			<td class="b"><%= item.Barcode %></td>
			<td><%= item.Name %></td>
			<td class="right"><%= item.MRP %></td>
			<td class="right"><%= item.Tax %></td>
			<td class="right"><%= item.BuyPrice %></td>
			<td class="right"><%= item.Discount %></td>
			<td class="right"><%= item.Quantity %></td>
			<td class="right tbold"><%= item.Total %></td>
		</tr>
	</script> 
</div>
{% endblock %} 
{% block footerscript %}
<script>
	$(function(){
		var tplLineItemCompiled = _.template($('#tplLineItem').html())
		
		$('#customer-data input[type=text], #customer-data textarea').SwizappFormTips()
		$('#product-data input[type=text], #product-data textarea').SwizappFormTips()
		
		$('input.datetime').datepicker({ dateFormat: 'dd-mm-yy' })
		
		$('form#frmLineItem button[type=reset]').trigger('click')
		
		$('table#lineItemTable tbody td a.delitem').live('click',function(){
			var url = $(this).attr('href')
			var quantity = parseFloat($(this).data('quantity'))
			var total = parseFloat($(this).data('total'))
			
			var $tr = $(this).parent().parent()
			$.get(url,null,function(data) {
				if(data && data.status == true){
					$tr.remove()
					var ti = parseInt($('#totalItems').text().trim())
					var tq = parseFloat($('#totalQuantity').text().trim())
					var ta = parseFloat($('#totalAmount').text().trim())
					var pa = parseFloat($('#paidAmount').text().trim())
					
					$('#totalAmount').text((ta-total).toFixed(2))
					$('#dueAmount').text((ta-total-pa).toFixed(2))
					$('#totalItems').text(ti-1)
					$('#totalQuantity').text((tq-quantity).toFixed(2))
					showMsg('info', data.message)
				}else{
					showMsg('error',data.message)
				}
			})
			return false
		})
		
		var $mrpInput 		= $('form#frmLineItem input[name=MRP]')
		var $sellpriceInput	= $('form#frmLineItem input[name=SellPrice]')
		var $buypriceInput 	= $('form#frmLineItem input[name=BuyPrice]')
		var $discountInput 	= $('form#frmLineItem input[name=Discount]')
		var $barcodeInput 	= $('form#frmLineItem input[name=Barcode]')
		var $nameInput 		= $('form#frmLineItem input[name=Name]')
		
		var ips = [$mrpInput,$sellpriceInput,$discountInput]
		
		$.each(ips,function() {
			$(this).blur(function(e) {
				if($(this).val()=='') return
				var col = $(this).attr('name')
			
				if(col == 'SellPrice') {
					var mrp = parseFloat($mrpInput.val() || 0)
					var sellPrice = parseFloat($(this).val() || 0)
					var discount = (((mrp-sellPrice)*100.0)/mrp)
				
					$discountInput.val(discount.toFixed(2))
				} else if(col == 'Discount') {
					var mrp = parseFloat($mrpInput.val() || 0)
					var discount = parseFloat($(this).val() || 0)
					var sellPrice = (mrp - (mrp * (discount/100.0)))
				
					$sellpriceInput.val(sellPrice.toFixed(2))
				} else if(col == 'MRP') {
					var discount = parseFloat($discountInput.val() || 0)
					var mrp = parseFloat($(this).val() || 0)
					var sellPrice = (mrp - (mrp * (discount/100.0)))
					var buyPrice  = (mrp - (mrp * (8.0/100.0)))
				
					$sellpriceInput.val(sellPrice.toFixed(2))
					$buypriceInput.val(buyPrice.toFixed(2))
				}
			})
		})
		
		$('form#frmLineItem input[name=Barcode]').blur(function(e){
			var barcode = $(this).val()
			if(barcode == '' || barcode.length == 0) {
				e.preventDefault()
				return false
			}

			$.post('/stock/getproductsbybarcode',{barcode:barcode},function(data){
				if(data) {
					if(data.length) {
						data = data[0]
					}
					
					$('form#frmLineItem input[name=ProductId]').val(data.Id)
					$('form#frmLineItem input[name=Name]').val(data.Name)
					
					$('form#frmLineItem input[name=MRP]').val(data.MRP)
					$('form#frmLineItem input[name=MRP]').data('MRP',data.MRP)
					
					$('form#frmLineItem input[name=BuyPrice]').val(data.BuyPrice)
					$('form#frmLineItem input[name=BuyPrice]').data('BuyPrice',data.BuyPrice)
					
					$('form#frmLineItem input[name=SellPrice]').val(data.SellPrice)
					$('form#frmLineItem input[name=SellPrice]').data('SellPrice',data.SellPrice)
					
					$('form#frmLineItem input[name=Discount]').val(data.Discount)
					
					if(data.MfgDate)
						$('form#frmLineItem input[name=MfgDate]').val($.format.date(data.MfgDate,'dd-MM-yyyy'))
					if(data.ExpiryDate)
						$('form#frmLineItem input[name=ExpiryDate]').val($.format.date(data.ExpiryDate,'dd-MM-yyyy'))
						
					$('form#frmLineItem select[name=CategoryId]').val(data.CategoryId)
					$('form#frmLineItem select[name=TaxCategoryId]').val(data.TaxCategoryId)
				} else {
					// no item found in db so new its a new item
					$('form#frmLineItem input[type=text]').val('')
					$('form#frmLineItem input[name=text]').select()
				}
			})
		})
		
		$('form#frmLineItem').submit(function() {
			var purchaseId = $('input#pid').val()
			var supplierId = $('select[name=SupplierId]').val()
			if(!purchaseId) {
				showMsg('error', 'Should save the purchase before adding line items!')
				return false
			}
			
			var jdata = $('form#frmLineItem').serializeObject()
			jdata.Tax = jdata.Tax || 0.0
			jdata.MRP = parseFloat(jdata.MRP)
			jdata.Quantity = parseFloat(jdata.Quantity)
			jdata.SellPrice = parseFloat(jdata.SellPrice)
			jdata.BuyPrice = parseFloat(jdata.BuyPrice)

			if (!(jdata.Name && jdata.Barcode && jdata.Quantity > 0 
				&& jdata.MRP > 0 && jdata.BuyPrice < jdata.MRP
				&& jdata.SellPrice > jdata.BuyPrice)) {
				showMsg('warn', 'Invalid data')
				return false
			}
			
			var found = false
			$('table#lineItemTable tbody tr > td:nth-child(2)').each(function() {
				if($(this).text().trim() == jdata.Barcode.trim()) {
					found = true
					return false
				}
			})
			
			if(found) {
				var mrp = parseFloat($('form#frmLineItem input[name=MRP]').val())
				var pmrp = parseFloat($('form#frmLineItem input[name=MRP]').data('MRP'))
				
				var bp = parseFloat($('form#frmLineItem input[name=BuyPrice]').val())
				var pbp = parseFloat($('form#frmLineItem input[name=BuyPrice]').data('BuyPrice'))
				
				var sp = parseFloat($('form#frmLineItem input[name=SellPrice]').val())
				var psp = parseFloat($('form#frmLineItem input[name=SellPrice]').data('SellPrice'))
				
				if(mrp == pmrp && bp == pbp && sp == psp) {
					showMsg('warn', '<strong>"'+ jdata.Barcode +'"</strong> already added! If you want to update please delete and add again!')
					return false
				}
				$('form#frmLineItem input[name=ProductId]').val('')
			}
			
			var postdata = 'pid=' + purchaseId + '&'
			postdata += 'SupplierId=' + supplierId + '&'
			postdata += $('form#frmLineItem').serialize()
			
			$.post('/stock/addpurchaselineitem',postdata,function(data){
				if(data && data.status == true) {
					//added success
					jdata.Id = data.id;
					jdata.Total = jdata.Quantity*jdata.BuyPrice;
					
					var tr = tplLineItemCompiled({
						'purchaseId': purchaseId,
						'item': jdata
					})
										
					$('table#lineItemTable tbody').prepend(tr)
					
					var ti = parseInt($('#totalItems').text().trim())
					var tq = parseFloat($('#totalQuantity').text().trim())
					var ta = parseFloat($('#totalAmount').text().trim())
					var pa = parseFloat($('#paidAmount').text().trim())
					
					$('#totalAmount').text((ta+jdata.Total).toFixed(2))
					$('#dueAmount').text((ta+jdata.Total-pa).toFixed(2))
					$('#totalItems').text(ti+1)
					$('#totalQuantity').text((tq+jdata.Quantity).toFixed(2))
					
					$('form#frmLineItem button[type=reset]').trigger('click')
					
					$('form#frmLineItem input[name=Barcode]').select()
					showMsg('info', '<strong>"'+jdata.Barcode+'"</strong> added successfully!')
				}else{
					showMsg('error', data.message || 'Error while adding line item!')
				}
			},'json')
			return false
		});
	});
</script>
{% endblock %}
