{% extends "templates/layout.jinja2" %} 
{% block specialNav %}
	<a id="new-invoice-button" href="{{'addpurchase'|route_url}}">
		<span>NewPurchase</span>
	</a>
{% endblock %} 
{% block content %}
<div id="customer-container" class="content">
	<h2>
		{{ 'Add Purchase' if not model.Id }} 
		{{ 'Edit Purchase' if model.Id }}
	</h2>
	<div id="statusMessage">
	</div>
	<div class="clear"></div>
	<form id="frmPurchase" action="{{'savepurchase'|route_url}}" method="post">
		<div class="span6">
			<h3>Purchase Info</h3>
			<div id="customer-data" class="global-data block">
				<ul>
					<li>
					<span class="_50">
							{{purchaseRenderer.text('PurchaseNo',title='Purchase Invoice Number',size=50,class='error wrong' if	purchaseRenderer.is_error('PurchaseNo'))}} 
					</span> 
					<span class="_50">
							{{purchaseRenderer.select('SupplierId',suppliers,prompt='Choose a supplier',title='Supplier',class='error wrong' if	purchaseRenderer.is_error('SupplierId'))}} </span></li>
					<li>
						<span class="_50">
							{{purchaseRenderer.date('PurchaseDate',title='Purchase Date',class='datetime error' if purchaseRenderer.is_error('PurchaseDate') else 'datetime')}} </span> 
						<span class="_50">
							{{purchaseRenderer.date('DueDate',title='Due Date',class='datetime error' if	purchaseRenderer.is_error('DueDate') else 'datetime')}} </span>
					</li>
					<li>
						<span class="_50" style="line-height:23px;font-weight:bold;">
							Total Items/Quantity: <span id="totalItems">{{model.TotalItems}}</span>/<span id="totalQuantity">{{model.TotalQuantity}}</span>
						</span>
						<span class="_50" style="line-height:23px;font-weight:bold;color:Green;"> 
							Total Amount: {{'' | currency}}<span id="totalAmount">{{model.GetTotalAmount()}}</span>
						</span>
						<span class="_50" style="line-height:23px;font-weight:bold;color:Brown">
							Paid Amount: {{'' | currency}}<span id="paidAmount">{{model.GetPaidAmount()}}</span>
						</span>
						<span class="_50" style="line-height:23px;font-weight:bold;color:Red">
							Due Amount: {{'' | currency}}<span id="dueAmount">{{model.GetTotalAmount() - model.GetPaidAmount()}}</span>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div id="saving-options" class="block">
			<input type="hidden" id="pid" name="pid" value="{{model.Id|d('',True)}}" /> 
			{%	if model.Id %} 
				<a class="btn action delete" onclick="return confirm('Are you sure?');"
					href="{{ 'deletepurchase' | route_url(pid=model.Id)}}"
					confirm="Are you sure?" post="1"> 
						<span><span>Delete</span></span>
				</a> 
			{% endif %}
			<button class="btn action save" type="submit">
				<span><span>Save</span></span>
			</button>
		</div>
	</form>
	<div class="clear"></div>
	{%	if model.Id %} 
	<h3>Line Items</h3>
	<form id="frmLineItem" method="POST">
		<div id="product-data" class="global-data block">
			{% import 'shared/productform.jinja2' as productForm with context %}
			{{ productForm.render(renderer,True) }} 
			<input type="hidden"name="ProductId" value="" />
			<div class="form-actions">
				<button class="btn action create" type="submit">
					<span><span>Add</span></span>
				</button>
				<button class="btn action cancel" type="reset">
					<span><span>Reset</span></span>
				</button>
			</div>
		</div>
	</form>
	<div class="clear"></div>
	<table class="listing" id="lineItemTable">
		<thead>
			<th class="noborder"></th>
			<th>Barcode</th>
			<th>Name</th>
			<th>MRP</th>
			<th>Tax</th>
			<th>Price</th>
			<th>Discount</th>
			<th>Quantity</th>
			<th>Total</th>
		</thead>
		<tbody>
			{% for item in model.LineItems %}
			<tr>
				<td><a data-total="{{item.BuyAmount}}"
					data-quantity="{{item.Quantity}}" class="delitem"
					href="/stock/deletepurchaselineitem?purchaseId={{model.Id}}&lineItemId={{item.Id}}"
					title="Delete this item!">Delete</a></td>
				<td>{{item.Barcode}}</td>
				<td>{{item.Name}}</td>
				<td>{{item.MRP}}</td>
				<td>{{item.Tax}}</td>
				<td>{{item.BuyPrice}}</td>
				<td>{{item.Discount}}</td>
				<td>{{item.Quantity}}</td>
				<td>{{item.BuyAmount}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>
{% endblock %} 
{% block footerscript %}
<script>
	$(function(){
		$('#customer-data input[type=text], #customer-data textarea').SwizappFormTips()
		$('#product-data input[type=text], #product-data textarea').SwizappFormTips()
		
		$('input.datetime').datepicker({ dateFormat: 'dd-mm-yy' })
		
		$('form#frmLineItem button[type=reset]').trigger('click')
		
		$('table#lineItemTable tbody td a.delitem').live('click',function(){
			var url = $(this).attr('href')
			var quantity = parseFloat($(this).data('quantity'))
			var total = parseFloat($(this).data('total'))
			
			var $tr = $(this).parent().parent()
			$.get(url,null,function(data) {
				if(data && data.status == true){
					$tr.remove()
					var ti = parseInt($('#totalItems').text())
					var tq = parseFloat($('#totalQuantity').text())
					var ta = parseFloat($('#totalAmount').text())
					
					$('#totalAmount').text(ta-total)
					$('#totalItems').text(ti-1)
					$('#totalQuantity').text(tq-quantity)
					showMsg('info', data.message)
				}else{
					showMsg('error',data.message)
				}
			})
			return false
		})
		
		var $mrpInput 		= $('form#frmLineItem input[name=MRP]')
		var $sellpriceInput	= $('form#frmLineItem input[name=SellPrice]')
		var $buypriceInput 	= $('form#frmLineItem input[name=BuyPrice]')
		var $discountInput 	= $('form#frmLineItem input[name=Discount]')
		var $barcodeInput 	= $('form#frmLineItem input[name=Barcode]')
		var $nameInput 		= $('form#frmLineItem input[name=Name]')
		
		var ips = [$mrpInput,$sellpriceInput,$discountInput]
		
		$.each(ips,function() {
			$(this).blur(function(e) {
				if($(this).val()=='') return
				var col = $(this).attr('name')
			
				if(col == 'SellPrice') {
					var mrp = parseFloat($mrpInput.val())
					var sellPrice = parseFloat($(this).val())
					var discount = (((mrp-sellPrice)*100.0)/mrp)
				
					$discountInput.val(discount.toFixed(2))
				} else if(col == 'Discount') {
					var mrp = parseFloat($mrpInput.val())
					var discount = parseFloat($(this).val())
					var sellPrice = (mrp - (mrp * (discount/100.0)))
				
					$sellpriceInput.val(sellPrice.toFixed(2))
				} else if(col == 'MRP') {
					var discount = parseFloat($discountInput.val())
					var mrp = parseFloat($(this).val())
					var sellPrice = (mrp - (mrp * (discount/100.0)))
					var buyPrice  = (mrp - (mrp * (8.0/100.0)))
				
					$sellpriceInput.val(sellPrice.toFixed(2))
					$buypriceInput.val(buyPrice.toFixed(2))
				}
			})
		})
		
		$('form#frmLineItem input[name=Barcode]').blur(function(e){
			var barcode = $(this).val()
			if(barcode == '' || barcode.length == 0) {
				e.preventDefault()
				return false
			}

			$.post('/stock/getproductsbybarcode',{barcode:barcode},function(data){
				if(data) {
					if(data.length) {
						data = data[0]
					}
					
					$('form#frmLineItem input[name=ProductId]').val(data.Id)
					$('form#frmLineItem input[name=Name]').val(data.Name)
					
					$('form#frmLineItem input[name=MRP]').val(data.MRP)
					$('form#frmLineItem input[name=MRP]').data('MRP',data.MRP)
					
					$('form#frmLineItem input[name=BuyPrice]').val(data.BuyPrice)
					$('form#frmLineItem input[name=BuyPrice]').data('BuyPrice',data.BuyPrice)
					
					$('form#frmLineItem input[name=SellPrice]').val(data.SellPrice)
					$('form#frmLineItem input[name=SellPrice]').data('SellPrice',data.SellPrice)
					
					$('form#frmLineItem input[name=Discount]').val(data.Discount)
					
					if(data.MfgDate)
						$('form#frmLineItem input[name=MfgDate]').val($.format.date(data.MfgDate,'dd-MM-yyyy'))
					if(data.ExpiryDate)
						$('form#frmLineItem input[name=ExpiryDate]').val($.format.date(data.ExpiryDate,'dd-MM-yyyy'))
						
					$('form#frmLineItem select[name=CategoryId]').val(data.CategoryId)
					$('form#frmLineItem select[name=TaxCategoryId]').val(data.TaxCategoryId)
				} else {
					// no item found in db so new its a new item
					$('form#frmLineItem input[type=text]').val('')
					$('form#frmLineItem input[name=Barcode]')[0].focus()
				}
			})
		})
		
		$('form#frmLineItem').submit(function() {
			var purchaseId = $('input#pid').val()
			var supplierId = $('select[name=SupplierId]').val()
			if(!purchaseId) {
				showMsg('error', 'Should save the purchase before adding line items!')
				return false
			}
			
			var jdata = $('form#frmLineItem').serializeObject()
			jdata.Tax = jdata.Tax || 0.0

			if (!(jdata.Name && jdata.Barcode && jdata.Quantity*1 > 0 
				&& jdata.MRP*1 > 0 && jdata.BuyPrice*1 < jdata.MRP*1
				&& jdata.SellPrice*1 > jdata.BuyPrice*1)) {
				showMsg('warn', 'Invalid data')
				return false
			}
			
			var found = false
			$('table#lineItemTable tbody tr > td:nth-child(2)').each(function() {
				if($(this).text() == jdata.Barcode) {
					found = true
					return false
				}
			})
			
			if(found) {
				var mrp = parseFloat($('form#frmLineItem input[name=MRP]').val())
				var pmrp = parseFloat($('form#frmLineItem input[name=MRP]').data('MRP'))
				
				var bp = parseFloat($('form#frmLineItem input[name=BuyPrice]').val())
				var pbp = parseFloat($('form#frmLineItem input[name=BuyPrice]').data('BuyPrice'))
				
				var sp = parseFloat($('form#frmLineItem input[name=SellPrice]').val())
				var psp = parseFloat($('form#frmLineItem input[name=SellPrice]').data('SellPrice'))
				
				if(mrp == pmrp && bp == pbp && sp == psp) {
					showMsg('warn', '<strong>"'+ jdata.Barcode +'"</strong> already added! If you want to update please delete and add again!')
					return false
				}
				$('form#frmLineItem input[name=ProductId]').val('')
			}
			
			var postdata = 'pid=' + purchaseId + '&'
			postdata += 'SupplierId=' + supplierId + '&'
			postdata += $('form#frmLineItem').serialize()
			
			$.post('/stock/addpurchaselineitem',postdata,function(data){
				if(data && data.status == true) {
					//added success
					var id = data.id;
					var total = jdata.Quantity*jdata.BuyPrice;
					var tr = '<tr>';
					tr += '<td><a data-total="' + total + '"';
					tr += ' data-quantity="'+jdata.Quantity+'" class="delitem" href="/stock/deletepurchaselineitem?purchaseId=' + purchaseId;
					tr += '&lineItemId='+id +'" title="Delete this item!">Delete</a></td>';
					tr += '<td>' + jdata.Barcode + '</td>';
					tr += '<td>' + jdata.Name + '</td>';
					tr += '<td>' + jdata.MRP + '</td>';
					tr += '<td>' + jdata.Tax + '</td>';
					tr += '<td>' + jdata.BuyPrice + '</td>';
					tr += '<td>' + jdata.Discount + '</td>';
					tr += '<td>' + jdata.Quantity + '</td>';
					tr += '<td>' + total + '</td>';
					tr += '</tr>';
					$('table#lineItemTable tbody').prepend(tr)
					
					var ti = parseInt($('#totalItems').text())
					var tq = parseFloat($('#totalQuantity').text())
					var ta = parseFloat($('#totalAmount').text())
					
					$('#totalAmount').text((ta+total).toFixed(2))
					$('#totalItems').text(ti+1)
					$('#totalQuantity').text((tq+parseFloat(jdata.Quantity)).toFixed(2))
					
					$('form#frmLineItem button[type=reset]').trigger('click')
					
					$('form#frmLineItem input[name=Barcode]')[0].focus()
					showMsg('info', '<strong>"'+jdata.Barcode+'"</strong> added successfully!')
				}else{
					showMsg('error', data.message || 'Error while adding line item!')
				}
			},'json')
			return false
		});
	});
</script>
{% endblock %}
