{% if model != None and (model | count) > 0 %}
<table id="purchaseTable" class="listing">
	<thead>
		<tr class="empty noborder listing-options">
			<td colspan="10">
				<a class="btn batch delete action-clear"
					href="#"
					onclick="if(confirm('Are you sure?')){ do_batch('delete'); };return false;"
					confirm="Are you sure?"> <span><span>Delete</span></span>
				</a>
			</td>
		</tr>
		<tr class="empty noborder">
			<td colspan="1000"></td>
		</tr>
		<tr>
			<th class="xs"><input id="select_all" type="checkbox"
				name="select_all" rel="all" /></th>
			<th>Bill No</th>
			<th>Supplier Name</th>
			<th>Total Items</th>
			<th>Purchase Date</th>
			<th>Due Date</th>
			<th>Purchase Amount</th>
			<th>Due Amount</th>
			<th>Status</th>
			<th class="noborder"></th>
		</tr>
	</thead>
	<tbody>
		{% for item in model %}
		{% set dueAmount = item.PurchaseAmount - item.PaidAmount %}
		<tr class="{{ loop.cycle('odd', 'even') }}" data-id="{{item.Id}}">
		    <td class="check">
                      <input type="checkbox" name="ids" value="{{item.Id}}">
            </td>
			<td>{{item.PurchaseNo}}</td>
			<td>{{item.SupplierName}}</td>
			<td>{{item.ItemCount}}</td>
			<td>{{item.PurchaseDate | datetimeformat('%d-%m-%Y')}}</td>
			<td>{{item.DueDate | datetimeformat('%d-%m-%Y')}}</td>
			<td>{{item.PurchaseAmount | round}}</td>
			<td>{{ ((dueAmount) | round) if dueAmount > 0.0 else 0.0 }}</td>
			<td>
				{% if (item.DueDate | comptoday) == 1 and dueAmount > 0.0 %}
					<span class="status overdue"> Overdue </span>
				{% elif (dueAmount > 0) %}
					<span class="status opened"> Opened </span>
				{% else %}
					<span class="status closed"> Closed </span>
				{% endif %}
			</td>
			<td class="action payments">
                <button class="btn payment action-clear" 
                    onclick="document.location.href='{{'purchasespayments' | route_url(pid=item.Id)}}'"
                    href="#" type="button">
                    <span><span>Payments</span></span>
                </button>
            </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-info">No Purchases found!</div>
{% endif %}
